<h1 class="govuk-heading-xl">User research sessions EPC metrics part L round 2</h1>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/metrics-part-l-round2/new-build">new-build</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>B rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
    <li>'Estimated energy use' section removed</li>
    <li>Updated energy rating section</li>
    <li>Updated carbon rating section</li>
    <li>Remove pipe separating letter and number from bars</li>
    <li>Use single shade of green for bars</li>
    <li>'How this affects your energy bills' section added</li>
    <li>Part L warning moved into 'How this affects your energy bills' section</li>
    <li>Updated 'breakdown of property's energy performance' section to 'reasons for this rating' section</li>
    <li>Updated 'Improve this property's energy rating' section to 'How to improve these ratings' section and removed content</li>
    <li>Updated 'Who to contact about this certificate' section headings and content</li>
    <li>Updated 'Paying for energy improvements'</li>
</ul>
<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/metrics-part-l-round2/existing-build">existing-build</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>E rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
    <li>'Estimated energy use' section removed</li>
    <li>Updated energy rating section</li>
    <li>Updated carbon rating section</li>
    <li>'How this affects your energy bills' section added</li>
    <li>Updated 'breakdown of property's energy performance' section to 'reasons for this rating' section</li>
    <ul>
        <li>Updated features in table</li>
    </ul>
    <li>Updated 'Improve this property's energy rating' section to 'How to improve these ratings' section and removed content</li>
    <li>Updated 'Who to contact about this certificate' section headings and content</li>
    <li>Updated 'Paying for energy improvements'</li>
</ul>
