{% set serviceName %}
  Find an energy certificate
{% endset%}

{% extends "layout.html" %}

{% block pageTitle %}
  Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{{ backLink }}
{% set backLink = "/find-a-certificate-results" %}
{{ backLink }}

{% block content %}
<style>
  .display_print {
    display: none;
  }

  @media print {
    .display_print {
      display: block;
    }
  }

  .letter {
    font-size: 40px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    font-weight: bold;
  }

  .current-potential-number {
    font-size: 22px;
    font-family: sans-serif;
    fill: #000;
    line-height: 50px;
    margin-top: 100px;
  }

  .small-letter {
    font-size: 19px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    font-weight: bold;
    text-align: center;
  }

  .small {
    font-size: 25px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    line-height: 50px;
    margin-top: 100px;
    font-weight: bold;
  }

  .band-a{
    fill: #00c781
  }
  .band-b{
    fill: #19b459
  }
  .band-c{
    fill: #8dce46
  }
  .band-d{
    fill: #ffd500
  }
  .band-e{
    fill: #fcaa65
  }
  .band-f{
    fill: #ef8023
  }
  .band-g{
    fill: #e9153b
  }
  .light-grey{
    fill: lightgrey;
  }
  .band-b-score{
    fill: #72CA8B
  }
  .band-c-score{
    fill: #b4df86
  }
  .band-d-score{
    fill: #ffe666
  }
  .band-e-score{
    fill: #fdc79b
  }
  .band-f-score{
    fill: #f4ac71
  }
  .band-g-score{
    fill: #f2738a
  }
</style>

<p class="display_print">To check this EPC is valid visit www.find-energy-certificate.digital.communities.gov.uk and search for your postcode.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl printable-area">
        Energy performance certificate (EPC)
      </h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />
    <div class="component__contents govuk-!-display-none-print">
      <h2 class="govuk-heading-m">Certificate contents</h2>
      <div class="dashed-p">
        <p class="govuk-body"><a class="govuk-link" href="#renting">Rules on letting this property</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#epc">Energy rating and score</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#summary">Reasons for this rating</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#energy-bills">How this affects your energy bills</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#energy">Carbon rating and score</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#recommendations">How to improve these ratings</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#information">Who to contact about this certificate</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#other_certificates_and_reports">Other certificates for this property</a></p>
      </div>
    </div>
    <script type = "text/javascript" src="/javascript/share-certificate.js"></script>
    <div class="component__print govuk-!-display-none-print">
      <h2 class="govuk-heading-m">Share this certificate</h2>
      <ul id="share-list">
        <li>
          <p>
            <a id="email" style="text-decoration: none;"
              href="mailto:?subject= Energy performance certificate (EPC) for 63A Kimberley Avenue&amp;body=Please find your energy performance certificate (EPC) at https://find-energy-certificate.digital.communities.gov.uk/energy-certificate/9958-0033-7326-3865-8984"
              target="_blank"
              title="Email">
            <span class="share-icon">
            <img src="/public/images/email.svg">
            </span>
            Email
            </a>
          </p>
        </li>
        <li>
          <p id="copy-to-clipboard-margin">
            <button id="copyToClipboardButton" class="govuk-body" onclick="clickHandler()">
            <span class="share-icon">
            <img src="/public/images/copy-link.svg">
            </span>
            Copy link
            </button>
            <script>document.getElementById('copyToClipboardButton').style.display = 'inline';</script>
          </p>
        </li>
        <li>
          <p>
            <a style="text-decoration: none; display: none;" id="link" href="/find-a-certificate-result-3" onclick="window.print();" class="govuk-link govuk-!-margin-bottom-5" id="link">
            <span class="share-icon">
            <img src="/public/images/print.svg">
            </span>
            Print
            </a>
            <script>document.getElementById('link').style.display = 'inline';</script>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds epc-domestic-sections">
    <hr class="epc-blue-top" />
    <div class="govuk-body epc-blue-bottom printable-area epc-box-container">
      <div class="epc-box govuk-!-margin-bottom-5">
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body">
            Energy rating
          </p>
          <p class="epc-rating-result govuk-body">
            E
          </p>
        </div>
        <p class="epc-address govuk-body">
          32 Hemming Way<br />East Bowling<br />Bradford<br />BD1 4EY
        </p>
        <div class="epc-extra-boxes">
          <p class="govuk-body epc-extra-box">
            <label>
            Valid until</label>
            <b>28 September 2030</b>
          </p>
          <p class="govuk-body epc-extra-box">
            <label>Certificate number</label>
            <b>7456-3214-789-6548-3647</b>
          </p>
        </div>
      </div>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Property type</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            Detached house
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total floor area</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            101 square metres
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area">
      <a id="renting"></a>
      <h2 class="govuk-heading-l">Rules on letting this property</h2>
      <p class="govuk-body">
        Properties can be let if they have an energy rating from A to E.
      </p>
      <p class="govuk-body">
        You can read <a class="govuk-link" href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">guidance for landlords on the regulations and exemptions</a>.
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area epc-rating-graph-section">
      <a id="epc"></a>
      <h2 class="govuk-heading-l">Energy rating and score</h2>
      <p class="govuk-body govuk-!-margin-top-6">Properties get a rating from A (best) to G (worst) and a score. The better the rating and score, the lower your fuel bills are likely to be.</p>
      <h3 class="govuk-heading-m">
        Average for properties in England and Wales
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">Energy rating</title>
        <desc id="svg-desc">Energy rating for this property 60 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="369" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="289" y="32">60 | D</tspan>
        </text>
      </svg>
      <h3 class="govuk-heading-m">
        Energy rating for this property
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">Energy rating</title>
        <desc id="svg-desc">Energy rating for this property 48 E.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="295" height="45" x="0" y="0" class="band-e">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="215" y="32">48 | E</tspan>
        </text>
      </svg>
      <h3 class="govuk-heading-m">
        This could be improved to
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">This could be improved to</title>
        <desc id="svg-desc">This could be improved to 79 C.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="486" height="45" x="0" y="0" class="band-c">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="406" y="32">79 | C</tspan>
        </text>
      </svg>
      <p class="govuk-body">
        <a class="govuk-link" href=" #recommendations">See how to improve this property’s energy rating</a>.
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area epc-energy-perf-breakdown">
      <a id="summary"></a>
      <h2 class="govuk-heading-l">Reasons for this rating</h2>
      <h3 class="govuk-heading-m">Features in this property</h3>
      <p class="govuk-body">Features get a rating from very good to very poor, based on how energy efficient they are. Ratings are not based on how well features work or what condition they're in.</p>
      <p class="govuk-body">Assumed ratings are based on the property's age and type. They are used for features the assessor could not inspect.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Feature</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Rating</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Wall</th>
            <td class="govuk-table__cell">Cavity wall, filled cavity</td>
            <td class="govuk-table__cell">Average</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Roof</th>
            <td class="govuk-table__cell">Pitched, 100 mm loft insulation</td>
            <td class="govuk-table__cell">Average</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Roof</th>
            <td class="govuk-table__cell">Roof room(s), insulated</td>
            <td class="govuk-table__cell">Poor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Roof</th>
            <td class="govuk-table__cell">Flat, no insulation (assumed)</td>
            <td class="govuk-table__cell">Very poor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Window</th>
            <td class="govuk-table__cell">Fully double glazed</td>
            <td class="govuk-table__cell">Average</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Main heating</th>
            <td class="govuk-table__cell">Boiler and radiators, mains gas</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Main heating control</th>
            <td class="govuk-table__cell">Programmer, room thermostat and TRVs</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Hot water</th>
            <td class="govuk-table__cell">From main system</td>
            <td class="govuk-table__cell">Average</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Lighting</th>
            <td class="govuk-table__cell">Low energy lighting in 19% of fixed outlets</td>
            <td class="govuk-table__cell">Poor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Floor</th>
            <td class="govuk-table__cell">Suspended, no insulation (assumed)</td>
            <td class="govuk-table__cell">N/A</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Secondary heating</th>
            <td class="govuk-table__cell">Room heaters, electric</td>
            <td class="govuk-table__cell">N/A</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m">Primary energy use</h2>
      <p class="govuk-body">The primary energy use for this property per year is 338 kilowatt hours per square metre (kWh/m2). This is <span class="govuk-!-font-weight-bold">worse than average.</span></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What is primary energy use?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Primary energy use is a measure of the energy required for lighting, heating and hot water in a property. The calculation includes:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
            <li>the efficiency of the property’s heating system</li>
            <li>power station efficiency for electricity</li>
            <li>the energy used to produce the fuel and deliver it to the property</li>
          </ul>
        </div>
      </details>
    </div>
    <div class="govuk-body epc-page-break epc-blue-bottom printable-area epc-environmental-impact">
      <a id="energy-bills"></a>
      <h2 class="govuk-heading-l">How this affects your energy bills</h2>
      <p class="govuk-body">An average household would need to spend <span class="govuk-!-font-weight-bold">£1,363 per year on heating, hot water and lighting</span> in this property. These costs usually make up the majority of your energy bills.</p>

      <p class="govuk-body">This is based on average costs when this EPC was created. People living at the property may use different amounts of heating, hot water and lighting.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">You could <span class="govuk-!-font-weight-bold">save £572 per year</span> if you complete the suggested steps for improving this property's energy rating.</p>
      <hr />
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Energy needed to heat this property</h3>
      <p class="govuk-body">Estimated energy needed in this property is:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
        <li>13623 kWh per year for heating</li>
        <li>2919 kWh per year for hot water</li>
      </ul>
      <h3 class="govuk-heading-m">Saving energy in this property</h3>
      <p class="govuk-body">You could save 374 kWh per year of energy by installing loft insulation.</p>

      <p class="govuk-body"><a class="govuk-link govuk-!-margin-bottom-6" href="https://www.gov.uk/improve-energy-efficiency">Find more ways to save energy in your home</a>.</p>
    </div>
    <div class="govuk-body epc-page-break epc-blue-bottom printable-area epc-environmental-impact">
      <a id="energy"></a>
      <h2 class="govuk-heading-l">Carbon rating and score</h2>
      <p class="govuk-body">
        Properties get a rating from A (best) to G (worst) on how much carbon dioxide (CO2) they produce each year. CO2 harms the environment.
      </p>
      <h3 class="govuk-heading-m">
        Average for properties in England and Wales
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">Average for properties in England and Wales</title>
        <desc id="svg-desc">Average for properties in England and Wales is 62 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="381" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="301" y="32">62 | D</tspan>
        </text>
      </svg>
      <h3 class="govuk-heading-m">
        Carbon rating for this property
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">Carbon rating for this property</title>
        <desc id="svg-desc">Carbon rating for this property 43 E.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="264" height="45" x="0" y="0" class="band-e">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="184" y="32">43 | E</tspan>
        </text>
      </svg>
      <h3 class="govuk-heading-m">
        This could be improved to
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph govuk-!-margin-bottom-5">
        <title id="svg-title">This could be improved to</title>
        <desc id="svg-desc">This could be improved to 76 C.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="467" height="45" x="0" y="0" class="band-c">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="387" y="32">76 | C</tspan>
        </text>
      </svg>
      <p class="govuk-body govuk-!-margin-bottom-6">These ratings are based on assumptions about average occupancy and energy use. Energy may be used differently by people living at the property.</p>
      <hr />
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Carbon emissions</h3>
      <p class="govuk-body">This property produces 6.1 tonnes of CO2 per year. This is <span class="govuk-!-font-weight-bold">worse than average.</span></p>
      <p class="govuk-body">You could improve this property's CO2 emissions to 2.1 tonnes if you complete the suggested steps. This will help to protect the environment.</p>
    </div>
    <div class="govuk-body printable-area epc-recommendations">
      <a id="recommendations"></a>
      <h2 class="govuk-heading-l">How to improve these ratings</h2>
      <div class="allow-break ">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Do I need to follow these steps in order?</span>
          </summary>
          <div class="govuk-details__text">
            Yes. Each step builds on the one before it so you can save the most energy.
            <br /><br />
            For example, it’s more energy efficient to insulate your home before you buy a new boiler. A well insulated home will lose less heat so you do not have to run your boiler as often.
          </div>
        </details>
      </div>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 1: Increase loft insulation to 270 mm</h3>
      <p class="govuk-body">Increase loft insulation to 270 mm</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £100 - £350
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £26
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 1
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 1</title>
        <desc id="svg-desc">Possible energy rating after step 1 is 49 E.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="301" height="45" x="0" y="0" class="band-e">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="221" y="32">49 | E</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 2: Flat roof or sloping ceiling insulation</h3>
      <p class="govuk-body">Flat roof or sloping ceiling insulation</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £850 - £1,500
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £64
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 2
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 2</title>
        <desc id="svg-desc">Possible energy rating after step 2 is 51 E.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="314" height="45" x="0" y="0" class="band-e">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="234" y="32">51 | E</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 3: Room-in-roof insulation</h3>
      <p class="govuk-body">Room-in-roof insulation</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £1,500 - £2,700
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £121
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 3
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 3</title>
        <desc id="svg-desc">Possible energy rating after step 3 is 56 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="344" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="264" y="32">56 | D</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 4: Floor insulation (suspended floor)</h3>
      <p class="govuk-body">Floor insulation (suspended floor)</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £800 - £1,200
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £117
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 4
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 4</title>
        <desc id="svg-desc">Possible energy rating after step 4 is 60 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="369" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="289" y="32">60 | D</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 5: Low energy lighting</h3>
      <p class="govuk-body">Low energy lighting</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £65
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £55
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 5
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 5</title>
        <desc id="svg-desc">Possible energy rating after step 5 is 62 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="381" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="301" y="32">62 | D</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 6: Replace boiler with new condensing boiler</h3>
      <p class="govuk-body">Condensing boiler</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £2,200 - £3,000
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £152
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 6
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 6</title>
        <desc id="svg-desc">Possible energy rating after step is 68 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="418" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="338" y="32">68 | D</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 7: Solar water heating</h3>
      <p class="govuk-body">Solar water heating</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £4,000 - £6,000
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £38
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 7
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 8</title>
        <desc id="svg-desc">Possible energy rating after step 7 is 68 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="424" height="45" x="0" y="0" class="band-c">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="344" y="32">69 | C</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 8: Solar photovoltaic panels, 2.5 kWp</h3>
      <p class="govuk-body">Solar photovoltaic panels</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £3,500 - £5,500
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £389
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 8
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 8</title>
        <desc id="svg-desc">Possible energy rating after step 8 is 79 C.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="486" height="45" x="0" y="0" class="band-c">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="406" y="32">79 | C</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body epc-blue-bottom allow-break printable-area">
      <h3 class="govuk-heading-m govuk-!-margin-top-4">Help paying for energy improvements</h3>
      <p class="govuk-body">
        You might be able to get a grant from the <a class="govuk-link" href="https://www.gov.uk/apply-boiler-upgrade-scheme">Boiler Upgrade Scheme</a>. This will help you buy a more efficient, low carbon heating system for this property.
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom epc-contact-assessor">
      <a id="information"></a>
      <h2 class="govuk-heading-l">Who to contact about this certificate</h2>
      <h3 class="govuk-heading-m">Contacting the assessor</h3>
      <p class="govuk-body">If you're unhappy about your property's energy assessment or certificate, you can complain to the assessor who created it.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s name</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">Andrew Stonemason</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">0707 164 6673</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <a class="govuk-link" href="mailto:andy.stone@provider.com">andy.stone@provider.com</a>
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-m govuk-!-margin-top-9">Contacting the accreditation scheme</h3>
      <p class="govuk-body">If you're still unhappy after contacting the assessor, you should contact the assessor’s accreditation scheme.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            ECMK
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor's ID</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            ECMK001884
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            0207 164 6673
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <a class="govuk-link" href="mailto:support@ecmk.com">support@ecmk.com</a>
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-m govuk-!-margin-top-9">About this assessment</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s declaration</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            No related party
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Date of assessment</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            28 September 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Date of certificate</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            29 September 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Type of assessment</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">RdSAP</span>
              </summary>
              <div class="govuk-details__text" id="description">
                <p class="govuk-body">RdSAP (Reduced data Standard Assessment Procedure) is a method used to assess and compare the energy and environmental performance of properties in the UK. It uses a site visit and survey of the property to calculate energy performance.</p>
                <p class="govuk-body">This type of assessment can be carried out on properties built before 1 April 2008 in England and Wales, and 30 September 2008 in Northern Ireland. It can also be used for newer properties, as long as they have a previous SAP assessment, which uses detailed information about the property’s construction to calculate energy performance.</p>          </div>
            </details>
          </dd>
        </div>
      </dl>
    </div>
    <div class="epc-blue-bottom printable-area govuk-body" id="other_certificates_and_reports">
      <h2 class="govuk-heading-l">Other certificates for this property</h2>
      <p class="govuk-body">
        If you are aware of previous certificates for this property and they are not listed here, please contact us at <span style="white-space: nowrap;"><a href="mailto:dluhc.digital-services@levellingup.gov.uk?subject=EPB - ">dluhc.digital-services@levellingup.gov.uk</a></span> or call our helpdesk on <span style="white-space: nowrap;">020 3829 0748 (Monday to Friday, 9am to 5pm)..</span>
      </p>
      <p class="govuk-body">There are no related certificates for this property.</p>
    </div>
  </div>
</div>

{% endblock %}
