{% set serviceName %}
  Find an energy certificate
{% endset%}

{% extends "layout.html" %}

{% block pageTitle %}
  Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{{ backLink }}
{% set backLink = "/find-a-certificate-results" %}
{{ backLink }}

{% block content %}
<style>
  .display_print {
    display: none;
  }

  @media print {
    .display_print {
      display: block;
    }
  }
</style>
<style>
  .letter {
    font-size: 40px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    font-weight: bold;
  }

  .current-potential-number {
    font-size: 22px;
    font-family: sans-serif;
    fill: #000;
    line-height: 50px;
    margin-top: 100px;
  }

  .small-letter {
    font-size: 19px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    font-weight: bold;
    text-align: center;
  }

  .small {
    font-size: 25px;
    font-family: sans-serif;
    fill: 	#0b0c0c;
    line-height: 50px;
    margin-top: 100px;
    font-weight: bold;
  }

  .band-a{
    fill: #00c781
  }
  .band-b{
    fill: #19b459
  }
  .band-c{
    fill: #8dce46
  }
  .band-d{
    fill: #ffd500
  }
  .band-e{
    fill: #fcaa65
  }
  .band-f{
    fill: #ef8023
  }
  .band-g{
    fill: #e9153b
  }
  .light-grey{
    fill: lightgrey;
  }
  .band-b-score{
    fill: #72CA8B
  }
  .band-c-score{
    fill: #b4df86
  }
  .band-d-score{
    fill: #ffe666
  }
  .band-e-score{
    fill: #fdc79b
  }
  .band-f-score{
    fill: #f4ac71
  }
  .band-g-score{
    fill: #f2738a
  }
</style>

<p class="display_print">To check this EPC is valid visit www.find-energy-certificate.digital.communities.gov.uk and search for your postcode.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl printable-area">
        Energy performance certificate (EPC)
      </h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-display-none-print">
    <hr class="epc-blue-top" />
    <div class="component__contents govuk-!-display-none-print">
      <h2 class="govuk-heading-m">Certificate contents</h2>
      <div class="dashed-p">
        <p class="govuk-body"><a class="govuk-link" href="#renting">Rules on letting this property</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#epc">Energy rating and score</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#summary">Breakdown of property’s energy performance</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#energy-bills">How this affects your energy bills</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#energy">Carbon rating and score</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#recommendations">Improve this property’s energy performance</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#information">Contacting the assessor and accreditation scheme</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#other_certificates_and_reports">Other certificates for this property</a></p>
      </div>
    </div>
    <script type = "text/javascript" src="/javascript/share-certificate.js"></script>
    <div class="component__print govuk-!-display-none-print">
      <h2 class="govuk-heading-m">Share this certificate</h2>
      <ul id="share-list">
        <li>
          <p gov-body >
            <a id="email" style="text-decoration: none;"
              href="mailto:?subject= Energy performance certificate (EPC) for 63A Kimberley Avenue&amp;body=Please find your energy performance certificate (EPC) at https://find-energy-certificate.digital.communities.gov.uk/energy-certificate/9958-0033-7326-3865-8984"
              target="_blank"
              title="Email">
            <span class="share-icon">
            <img src="/public/images/email.svg">
            </span>
            Email
            </a>
          </p>
        </li>
        <li>
          <p id="copy-to-clipboard-margin">
            <button id="copyToClipboardButton" class="govuk-body" onclick="clickHandler()">
            <span class="share-icon">
            <img src="/public/images/copy-link.svg">
            </span>
            Copy link
            </button>
            <script>document.getElementById('copyToClipboardButton').style.display = 'inline';</script>
          </p>
        </li>
        <li>
          <p>
            <a style="text-decoration: none; display: none;" id="link" href="/find-a-certificate-result-3" onclick="window.print();" class="govuk-link govuk-!-margin-bottom-5" id="link">
            <span class="share-icon">
            <img src="/public/images/print.svg">
            </span>
            Print
            </a>
            <script>document.getElementById('link').style.display = 'inline';</script>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds epc-domestic-sections">
    <hr class="epc-blue-top" />
    <div class="govuk-body epc-blue-bottom printable-area epc-box-container">
      <div class="epc-box govuk-!-margin-bottom-5">
        <div class="epc-rating-box">
          <p class="epc-rating-title govuk-body">
            Energy rating
          </p>
          <p class="epc-rating-result govuk-body">
            B
          </p>
        </div>
        <p class="epc-address govuk-body">
          66 Primrose Hill<br />London<br />NW3 2UU
        </p>
        <div class="epc-extra-boxes">
          <p class="govuk-body epc-extra-box">
            <label>
            Valid until</label>
            <b>21 September 2030</b>
          </p>
          <p class="govuk-body epc-extra-box">
            <label>Certificate number</label>
            <b>9876-6789-5432-2345-1350</b>
          </p>
        </div>
      </div>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Property type</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            Semi-detached house
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total floor area</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            86 square metres
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area">
      <a id="renting"></a>
      <h2 class="govuk-heading-l">Rules on letting this property</h2>
      <p class="govuk-body">
        Properties can be let if they have an energy rating from A to E.
      </p>
      <p class="govuk-body">
        You can read <a class="govuk-link" href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">guidance for landlords on the regulations and exemptions</a>.
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area epc-rating-graph-section">
      <a id="epc"></a>
      <h2 class="govuk-heading-l">Energy rating and score</h2>
      <p class="govuk-body govuk-!-margin-top-6">Properties get a rating from A (best) to G (worst) and a score. The better the rating and score, the lower your fuel bills are likely to be.</p>
      <h3 class="govuk-heading-m">
        Average for properties in England and Wales
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">The average for properties in England and Wales</title>
        <desc id="svg-desc">The average for properties in England and Wales is 60 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="350" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="250" y="32">60 D</tspan>
        </text>
      </svg>
      <br></br>
      <h3 class="govuk-heading-m">
        Energy rating for this property
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Energy rating</title>
        <desc id="svg-desc">Energy rating for this property 83 B.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="500" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="400" y="32">84 B</tspan>
        </text>
      </svg>
      <br></br>
      <h3 class="govuk-heading-m">
        This could be improved to
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">This could be improved to</title>
        <desc id="svg-desc">This could be improved to 95 A.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="575" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="475" y="32">95 A</tspan>
        </text>
      </svg>
      <br></br>
      <p class="govuk-body">
        <a class="govuk-link" href=" #recommendations">See how to improve this property’s energy rating</a>.
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom printable-area epc-energy-perf-breakdown">
      <a id="summary"></a>
      <h2 class="govuk-heading-l">Breakdown of property’s energy performance</h2>
      <p class="govuk-body">This section shows the energy performance for features of this property. The assessment does not consider the condition of a feature and how well it is working.</p>
      <p class="govuk-body">Each feature is assessed as one of the following:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
        <li>very good (most efficient)</li>
        <li>good</li>
        <li>average</li>
        <li>poor</li>
        <li>very poor (least efficient)</li>
      </ul>
      <p class="govuk-body">When the description says “assumed”, it means that the feature could not be inspected and an assumption has been made based on the property’s age and type.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Feature</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Rating</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Walls</th>
            <td class="govuk-table__cell">Average thermal transmittance 0.27 W/m²K</td>
            <td class="govuk-table__cell">Very good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Roof</th>
            <td class="govuk-table__cell">Average thermal transmittance 0.12 W/m²K</td>
            <td class="govuk-table__cell">Very good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Floor</th>
            <td class="govuk-table__cell">Average thermal transmittance 0.22 W/m²K</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Windows</th>
            <td class="govuk-table__cell">Fully double glazed</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Main heating</th>
            <td class="govuk-table__cell">Boiler and radiators, mains gas</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Main heating control</th>
            <td class="govuk-table__cell">Programmer, room thermostat and TRVs</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Hot water</th>
            <td class="govuk-table__cell">From main system</td>
            <td class="govuk-table__cell">Good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Lighting</th>
            <td class="govuk-table__cell">Low energy lighting in all fixed outlets</td>
            <td class="govuk-table__cell">Very good</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Air tightness</th>
            <td class="govuk-table__cell">Air permeability 7.2 m³/h.m² (as tested)</td>
            <td class="govuk-table__cell">Average</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-!-font-weight-regular">Secondary heating</th>
            <td class="govuk-table__cell">None</td>
            <td class="govuk-table__cell">N/A</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m">Primary energy use</h2>
      <p class="govuk-body">The primary energy use for this property per year is 74 kilowatt hours per square metre (kWh/m2).</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What is primary energy use?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Primary energy use is a measure of the energy required for lighting, heating and hot water in a property. The calculation includes:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
            <li>the efficiency of the property’s heating system</li>
            <li>power station efficiency for electricity</li>
            <li>the energy used to produce the fuel and deliver it to the property</li>
          </ul>
        </div>
      </details>
    </div>
    <div class="govuk-body epc-page-break epc-blue-bottom printable-area epc-environmental-impact">
      <a id="energy-bills"></a>
      <h2 class="govuk-heading-l">How this affects your energy bills</h2>
      <div class="govuk-inset-text">
        This property may be more expensive to heat because it was built to 2021 building standards and not newer 2022 standards.
      </div>
      <p class="govuk-body">An average household would need to spend <span class="govuk-!-font-weight-bold">£359 per year on heating, hot water and lighting</span> in this property. These costs usually make up the majority of your energy bills.</p>

      <p class="govuk-body">This is based on average costs when this EPC was created. People living at the property may use different amounts of heating, hot water and lighting.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">You could <span class="govuk-!-font-weight-bold">save £26 per year</span> if you complete the suggested steps for improving this property's energy rating.</p>
      <hr></hr>
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Energy needed to heat this property</h3>
      <p class="govuk-body">Estimated energy needed in this property is:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
        <li>2661 kWh per year for heating</li>
        <li>1614 kWh per year for hot water</li>
      </ul>
      <h3 class="govuk-heading-m">Saving energy in this property</h3>
      <a class="govuk-link govuk-!-margin-bottom-6" href="https://www.gov.uk/improve-energy-efficiency">Find more ways to save energy in your home.</a>
    </div>
    <div class="govuk-body epc-page-break epc-blue-bottom printable-area epc-environmental-impact">
      <a id="energy"></a>
      <h2 class="govuk-heading-l">Carbon rating and score</h2>
      <p class="govuk-body">
        Properties get a rating from A (best) to G (worst) on how much carbon dioxide (CO2) they produce each year. CO2 harms the environment.
      </p>
      <h3 class="govuk-heading-m">
        Average for properties in England and Wales
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Average for properties in England and Wales</title>
        <desc id="svg-desc">Average for properties in England and Wales is 60 D.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="350" height="45" x="0" y="0" class="band-d">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="205" y="32">60 D</tspan>
        </text>
      </svg>
      <br></br>
      <h3 class="govuk-heading-m">
        Carbon rating for this property
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Carbon rating for this property</title>
        <desc id="svg-desc">Carbon rating for this property is 86 B.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="500" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="400" y="32">86 B</tspan>
        </text>
      </svg>
      <br></br>
      <h3 class="govuk-heading-m">
        This could be improved to
      </h3>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">This could be improved to</title>
        <desc id="svg-desc">This could be improved to 97 BA</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="580" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="480" y="32">97 A</tspan>
        </text>
      </svg>
      <br></br>
      <p class="govuk-body govuk-!-margin-bottom-6">These ratings are based on assumptions about average occupancy and energy use. Energy may be used differently by people living at the property.</p>
      <hr></hr>
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Carbon emissions</h3>
      <p class="govuk-body">This property produces 1.3 tonnes of CO2 per year. This is <span class="govuk-!-font-weight-bold">lower than average.</span> An average household produces 6.0 tonnes per year.</p>
      <p class="govuk-body">You could improve this property's CO2 emissions to 0.2 tonnes if you complete the suggested steps. This will help to protect the environment.</p>
    </div>
    <div class="govuk-body printable-area epc-recommendations">
      <a id="recommendations"></a>
      <h2 class="govuk-heading-l">Improve this property’s energy rating</h2>
      <div class="allow-break ">
        <p class="govuk-body">Follow these steps to improve the energy rating and score. This will also help to protect the environment.</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Do I need to follow these steps in order?</span>
          </summary>
          <div class="govuk-details__text">
            Yes. Each step builds on the one before it so you can save the most energy.
            <br /><br />
            For example, it’s more energy efficient to insulate your home before you buy a new boiler. A well insulated home will lose less heat so you do not have to run your boiler as often.
          </div>
        </details>
      </div>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 1: Solar water heating</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £4,000 - £6,000
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £26
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 1
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 1</title>
        <desc id="svg-desc">Possible energy rating after step 1 is 87 B.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="530" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="430" y="32">87 B</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body printable-area">
      <hr class="epc-light-top" />
      <h3 class="govuk-heading-m">Step 2: Solar photovoltaic panels, 2.5 kWp</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical installation cost</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £3,500 - £5,500
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Typical yearly saving</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half" style="text-align: right">
            £337
          </dd>
        </div>
      </dl>
      <p class="govuk-body govuk-!-margin-bottom-4" style="font-weight: bold">
        Possible energy rating after step 2
      </p>
      <svg width="615" height="45" viewBox="0 0 615 45" xmlns="http://www.w3.org/2000/svg" style="max-width: 100%;" aria-labelledby="svg-title" aria-describedby="svg-desc" role="img" class="epc-energy-rating-graph">
        <title id="svg-title">Possible energy rating after step 2</title>
        <desc id="svg-desc">Possible energy rating after step 2 is 97 A.</desc>
        <rect width="615" height="45" x="72" y="0" class="light-grey">
        </rect>
        <rect width="580" height="45" x="0" y="0" class="band-b">
        </rect>
        <text role="presentation" aria-hidden="true" x="0" y="0" class="small">
          <tspan x="480" y="32">97 A</tspan>
        </text>
      </svg>
    </div>
    <div class="govuk-body epc-blue-bottom allow-break printable-area">
      <h3 class="govuk-heading-m">Paying for energy improvements</h3>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/improve-energy-efficiency">Find energy grants and ways to save energy in your home.</a>
      </p>
    </div>
    <div class="govuk-body epc-blue-bottom epc-contact-assessor">
      <a id="information"></a>
      <h2 class="govuk-heading-l">Contacting the assessor and accreditation scheme</h2>
      <p class="govuk-body">This EPC was created by a qualified energy assessor.<br /><br />If you are unhappy about your property’s energy assessment or certificate, you can complain to the assessor directly.<br /><br />If you are still unhappy after contacting the assessor, you should contact the assessor’s accreditation scheme.<br /><br />Accreditation schemes are appointed by the government to ensure that assessors are qualified to carry out EPC assessments.</p>
      <h3 class="govuk-heading-m">Assessor contact details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s name</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">Andrew Stonemason</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">0707 164 6673</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <a class="govuk-link" href="mailto:andy.stone@provider.com">andy.stone@provider.com</a>
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-m govuk-!-margin-top-9">Accreditation scheme contact details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            ECMK
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor ID</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            ECMK001884
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            0207 164 6673
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <a class="govuk-link" href="mailto:support@ecmk.com">support@ecmk.com</a>
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-m govuk-!-margin-top-9">Assessment details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s declaration</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            No related party
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Date of assessment</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            28 September 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Date of certificate</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            29 September 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Type of assessment</dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">SAP</span>
              </summary>
              <div class="govuk-details__text" id="description">
                SAP (Standard Assessment Procedure) is a method used to assess and compare the energy and environmental performance of properties in the UK. It uses detailed information about the property’s construction to calculate energy performance.
                < /br>< /br>
                This type of assessment must be carried out on all new properties built after 1 April 2008 in England and Wales, and 30 September 2008 in Northern Ireland.
              </div>
            </details>
          </dd>
        </div>
      </dl>
    </div>
    <div class="epc-blue-bottom printable-area govuk-body" id="other_certificates_and_reports">
      <h2 class="govuk-heading-l">Other certificates for this property</h2>
      <p class="govuk-body">
        If you are aware of previous certificates for this property and they are not listed here, please contact us at <span style="white-space: nowrap;"><a href="mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - ">mhclg.digital-services@communities.gov.uk</a></span> or call our helpdesk on <span style="white-space: nowrap;">020 3829 0748 (Monday to Friday, 9am to 5pm)..</span>
      </p>
      <p class="govuk-body">There are no related certificates for this property.</p>
    </div>
  </div>
</div>

{% endblock %}
