{
  "singleQuote": true,
  "plugins": ["prettier-plugin-nunjucks"],
  "overrides": [
    {
      "files": ["*.html", "*.njk", "*.nunjucks", "*.nunj"],
      "options": {
        "parser": "nunjucks"
      }
    }
  ]
}
