{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="/epc-reform/summary" class="govuk-back-link">Back</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Assessment details</h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-strong-top">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table" id="about-assessment-table">
            <caption class="govuk-table__caption govuk-table__caption--m">About this assessment</caption>
            <thead class="govuk-table__head">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Certificate number</th>
                <td class="govuk-table__cell govuk-!-width-one-half">2560-8103-5290-6200-2505</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Valid until</th>
                <td class="govuk-table__cell">18 July 2029</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of assessment</th>
                <td class="govuk-table__cell">17 July 2019</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of certificate</th>
                <td class="govuk-table__cell">19 July 2019</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Assessment method</th>
                <td class="govuk-table__cell">
                    <span>RdHEM</span>
                    <span>
                        <details class="govuk-details assesment-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">What does the rating mean?</span>
                            </summary>
                            <div class="govuk-details__text">
                                RdHEM is an assessment method used to calculate the energy performance of an existing property.
                                An accredited energy assessor completes the assessment through a visual inspection of the property.
                                If some details are not visible, the assessor may make assumptions based on the property’s age or construction type.
                            </div>
                    </details>
                    </span>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-strong-top">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-3">Assessor details</caption>
            <thead class="govuk-table__head">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Name</th>
                <td class="govuk-table__cell govuk-!-width-one-half">Adam Brest</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Telephone</th>
                <td class="govuk-table__cell">0117 395 2899</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell">enquiries@focus180energy.co.uk</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-3">Accreditation scheme details</caption>
            <thead class="govuk-table__head">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Scheme</th>
                <td class="govuk-table__cell govuk-!-width-one-half">Stroma Certification Ltd</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Assessor’s ID</th>
                <td class="govuk-table__cell">TPGO034403</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Telephone</th>
                <td class="govuk-table__cell">0330 359 9660</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell">example@stroma.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-strong-top">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
        <div class="share-this-page-content">
            <div class="share-link-content">
                <svg
                        class="share-icon actions-icons"
                        xmlns="http://www.w3.org/2000/svg"
                        height="30px"
                        viewBox="0 -960 960 960"
                        width="30px"
                        fill="#1D70B8">
                    <path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm508.5-291.5Q720-743 720-760t-11.5-28.5Q697-800 680-800t-28.5 11.5Q640-777 640-760t11.5 28.5Q663-720 680-720t28.5-11.5ZM680-200ZM200-480Zm480-280Z"/>
                </svg>
                <p class="govuk-body govuk-!-padding-left-1">
                    <a href="#" class="govuk-link">Share link</a>
                </p>
            </div>
            <div class="print-content govuk-!-padding-left-7">
                <svg
                        class="print-icon actions-icons"
                        xmlns="http://www.w3.org/2000/svg"
                        height="30px"
                        viewBox="0 -960 960 960"
                        width="30px"
                        fill="#1D70B8">
                    <path d="M640-640v-120H320v120h-80v-200h480v200h-80Zm-480 80h640-640Zm560 100q17 0 28.5-11.5T760-500q0-17-11.5-28.5T720-540q-17 0-28.5 11.5T680-500q0 17 11.5 28.5T720-460Zm-80 260v-160H320v160h320Zm80 80H240v-160H80v-240q0-51 35-85.5t85-34.5h560q51 0 85.5 34.5T880-520v240H720v160Zm80-240v-160q0-17-11.5-28.5T760-560H200q-17 0-28.5 11.5T160-520v160h80v-80h480v80h80Z"/>
                </svg>
                <p class="govuk-body govuk-!-padding-left-1">
                    <a href="#" class="govuk-link">Print</a>
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}