{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accessibleLink = document.getElementById('accessible-version-link');
        const chartLink = document.getElementById('chart-version-link');
        const chartVersion = document.getElementById('bar-chart-version');
        const tableVersion = document.getElementById('accessible-table-version');

        if (!accessibleLink || !chartLink || !chartVersion || !tableVersion) return;

        accessibleLink.addEventListener('click', function (e) {
            e.preventDefault();
            chartVersion.hidden = true;
            tableVersion.hidden = false;
            accessibleLink.hidden = true;
            chartLink.hidden = false;
        });

        chartLink.addEventListener('click', function (e) {
            e.preventDefault();
            chartVersion.hidden = false;
            tableVersion.hidden = true;
            accessibleLink.hidden = false;
            chartLink.hidden = true;
        });
    });
</script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/epc-reform/summary" class="govuk-back-link">Back</a>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Heat retention</h1>
    <p class="govuk-body">This measures how well this property retains heat during winter and stays cool during summer. Improving the rating reduces energy bills and makes indoor spaces more comfortable.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-black-bottom govuk-!-padding-top-3">
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Results for this property</h2>
      <div class="energy-rating-wrapper include-score is-c govuk-!-padding-top-6">
          <div class="rating-bubble two-col">
          <div class="bubble-col rating-col">
              <span class="label">Rating</span>
              <div class="grade">C</div>
          </div>
          <div class="bubble-divider" aria-hidden="true"></div>
          <div class="bubble-col score-col">
              <span class="label">Score</span>
              <div class="grade score">70</div>
              <span class="score-sub">Points out of 100</span>
          </div>
      </div>
      </div>
      <div class="rating-bar full-column-bar" aria-hidden="true">
          <div class="box a">A</div>
          <div class="box b">B</div>
          <div class="box c active">C</div>
          <div class="box d">D</div>
          <div class="box e">E</div>
          <div class="box f">F</div>
          <div class="box g">G</div>
      </div>
      <details class="govuk-details summary-details govuk-!-margin-bottom-0">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  What does the rating mean?
              </span>
          </summary>
          <div class="govuk-details__text">
              Properties get a score from 100 (best) to 1 (worst).  A better score means the property needs less energy to stay at a comfortable temperature.<br><br>
              The score is based on how much energy a property typically needs to be heated above 18°C in winter and cooled below 24°C in summer.<br><br>
              Each score also has a letter rating from A (best) to G (worst):
              <ul>
                  <li>A rating - 90 to 100</li>
                  <li>B rating - 80 to 89</li>
                  <li>C rating - 70 to 79</li>
                  <li>D rating - 60 to 69</li>
                  <li>E rating - 50 to 59</li>
                  <li>F rating - 40 to 49</li>
                  <li>G rating - 1 to 39</li>
              </ul>
          </div>
      </details>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-black-bottom govuk-!-margin-bottom-6 govuk-!-margin-top-7">
        <h2 class="govuk-heading-m">How this property’s features impact the rating</h2>
        <p class="govuk-body">This table shows how different features of this property impact the rating.
            The features are shown in order of importance.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-4" id="property-feature-table">
            <thead class="govuk-table__head">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Feature</th>
                <th scope="row" class="govuk-table__header">Type</th>
                <th scope="row" class="govuk-table__header">Description</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Walls</th>
                <td class="govuk-table__cell govuk-!-width-two-thirds">
                    <span>
                        <details class="govuk-details assesment-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Solid brick with external insulation</span>
                            </summary>
                            <div class="govuk-details__text">
                                This is a wall where insulation has been added to the outside.<br><br>
                                It is rated ‘Good' because it is very effective at keeping heat in.
                            </div>
                    </details>
                    </span>
                </td>
                <td class="govuk-table__cell">
                    <span>
                        <div class="property-features-description-box" id="box-1">
                            Good
                        </div>
                    </span>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Roof</th>
                <td class="govuk-table__cell">
                    <span>
                        <details class="govuk-details assesment-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Pitched roof without insulation</span>
                            </summary>
                            <div class="govuk-details__text">
                                This is a sloped roof that has no insulation.<br><br>
                                It is rated ‘Poor’ because it is ineffective at keeping heat in.
                            </div>
                    </details>
                    </span>
                </td>
                <td class="govuk-table__cell">
                    <span>
                        <div class="property-features-description-box" id="box-2">
                            Poor
                        </div>
                    </span>
                </td>

            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Floor</th>
                <td class="govuk-table__cell govuk-!-width-one-third">
                    <span>
                        <details class="govuk-details assesment-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Suspended floor with insulation</span>
                            </summary>
                            <div class="govuk-details__text">
                                This is a raised floor with insulation fitted underneath.<br><br>
                                It is rated ‘Good’ because it is very effective at keeping heat in.
                            </div>
                    </details>
                    </span>
                </td>
                <td class="govuk-table__cell govuk-!-width-one-third">
                    <span>
                        <div class="property-features-description-box" id="box-3">
                            Good
                        </div>
                    </span>
                </td>

            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Windows</th>
                <td class="govuk-table__cell">
                    <span>
                        <details class="govuk-details assesment-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Double glazed</span>
                            </summary>
                            <div class="govuk-details__text">
                                This is a window type made from two panes of glass.<br><br>
                                It is rated ‘Fair’ because it is effective at keeping heat in.
                            </div>
                    </details>
                    </span>
                </td>
                <td class="govuk-table__cell">
                    <span>
                        <div class="property-features-description-box" id="box-4">
                            Fair
                        </div>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible epc-black-bottom govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">How this property compares</h2>
        <div class="govuk-inset-text">
            This property has a lower rating than average for Bristol Central.
        </div>
        <p class="govuk-body">
            This chart shows how long this property is expected to stay warm (above 18°C), compared with similar local properties.
            This assumes the heating is switched off, the indoor temperature starts at 20°C and the outdoor temperature is 5°C.
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="compare-property-heading govuk-!-margin-top-4">
            <h3 class="govuk-heading-s">How long it stays warm</h3>
            <p class="govuk-body">
                <a href="#" class="govuk-link " id="accessible-version-link">View accessible version</a>
                <a href="#" class="govuk-link" id="chart-version-link" hidden>View bar-chart</a>

            </p>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div id="bar-chart-version">
            <div class="horizontal-bar-chart-wrapper">
                <div class="bar-chart govuk-!-padding-top-5 govuk-!-padding-bottom-5">
                    <div class="chart-row">
                        <div class="chart-left">
                            <div class="chart-title">This property</div>
                            <div class="chart-badge badge-c">C rating <span aria-hidden="true">·</span> 70 Points</div>
                        </div>
                        <div class="chart-middle">
                            <div class="chart-bar-wrapper">
                                <div class="chart-bar bar-1 this-property heat-retention"></div>
                            </div>
                        </div>
                        <div class="chart-right">Stays warm for 3 hours</div>
                    </div>
                    <div class="chart-row">
                        <div class="chart-left">
                            <div class="chart-title">Similar local<br>properties</div>
                            <div class="chart-badge badge-b">B rating <span aria-hidden="true">·</span> 80 Points</div>
                        </div>
                        <div class="chart-middle">
                            <div class="chart-bar-wrapper">
                                <div class="chart-bar bar-2 similar-property heat-retention"></div>
                            </div>
                        </div>
                        <div class="chart-right">Stays warm for 6 hours</div>
                    </div>
                    <div class="chart-row">
                        <div class="chart-left">
                            <div class="chart-title">This property after<br>improvements</div>
                            <div class="chart-badge badge-a">A rating <span aria-hidden="true">·</span> 90 Points</div>
                        </div>
                        <div class="chart-middle">
                            <div class="chart-bar-wrapper">
                                <div class="chart-bar bar-3 after-improvements heat-retention"></div>
                            </div>
                        </div>
                        <div class="chart-right">Stays warm for 12 hours</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accessible-table-version" hidden>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">
                    How long it stays warm
                </caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-third">
                            <strong>This property</strong>
                        </th>
                        <td class="govuk-table__cell govuk-!-width-one-third">
                            <span class="chart-badge badge-c">C rating <span aria-hidden="true">•</span> 70 Points</span>
                        </td>
                        <td class="govuk-table__cell govuk-!-width-one-third">
                            Stays warm for 3 hours
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Similar local properties
                        </th>
                        <td class="govuk-table__cell">
                            <span class="chart-badge badge-b">B rating <span aria-hidden="true">•</span> 80 Points</span>
                        </td>
                        <td class="govuk-table__cell">
                            Stays warm for 6 hours
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            This property after improvements
                        </th>
                        <td class="govuk-table__cell">
                            <span class="chart-badge badge-a">A rating <span aria-hidden="true">•</span> 90 Points</span>
                        </td>
                        <td class="govuk-table__cell">
                            Stays warm for 12 hours
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}