{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Energy Performance Certificate (EPC)</h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-inset-text">
            This certificate is 4 years old. Some information may be out of date.
        </div>
    </div>
</div>
<div class="govuk-grid-row epc-summary-cards-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Property details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                                <div class="govuk-summary-list__key">Address:</div>
                                <div class="govuk-summary-list__value">
                                    <p class="govuk-body-m govuk-!-margin-0" >6 SEVILLE ROAD</p>
                                    <p class="govuk-body-m govuk-!-margin-0">KINGSDOWN</p>
                                    <p class="govuk-body-m govuk-!-margin-0">BRISTOL</p>
                                    <p class="govuk-body-m govuk-!-margin-0">BS2 1AD</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                                <dt class="govuk-summary-list__key">Property type:</dt>
                                <dd class="govuk-summary-list__value">Mid-terrace house</dd>
                            </div>

                            <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                                <dt class="govuk-summary-list__key">Total floor area:</dt>
                                <dd class="govuk-summary-list__value">70 square metres</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Assessment details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                                <div class="govuk-summary-list__key">Valid until:</div>
                                <div class="govuk-summary-list__value">18 July 2029</div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                                <dt class="govuk-summary-list__key">Date of certificate:</dt>
                                <dd class="govuk-summary-list__value">19 July 2019</dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row epc-summary-list__row--stacked">
                        <dt class="govuk-summary-list__key">Certificate number:</dt>
                        <dd class="govuk-summary-list__value">2560-8103-5290-6200-2505</dd>
                    </div>
                </dl>

                <div class="govuk-!-padding-top-3">
                    <a href="/epc-reform/assessment-details" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                        More details
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-6">
<div class="govuk-grid-row epc-summary-cards-row ratings-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Heat Retention</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-body">
                    <div class="epc-card__intro">
                        <p>
                            This measures how well this property retains heat during winter and stays cool during summer.
                        </p>
                    </div>
                    <div class="energy-rating-wrapper in-summary-card is-c">
                        <div class="rating-bubble">
                            <span class="label">Rating</span>
                            <div class="grade">C</div>
                        </div>
                        <div class="rating-bar" aria-hidden="true">
                            <div class="box a">A</div>
                            <div class="box b">B</div>
                            <div class="box c active">C</div>
                            <div class="box d">D</div>
                            <div class="box e">E</div>
                            <div class="box f">F</div>
                            <div class="box g">G</div>
                        </div>
                    </div>
                    <details class="govuk-details summary-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What does the rating mean?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Properties get a rating from A (best) to G (worst).
                            <br><br>
                            A better rating means the property needs less energy to heat in winter or cool in summer.
                        </div>
                    </details>
                    <div class="govuk-!-padding-top-3">
                        <a href="/epc-reform/heat-retention" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Sustainable heating</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-body">
                    <div class="epc-card__intro">
                        <p>
                            This measures this property’s heating system efficiency and carbon emissions.
                        </p>
                    </div>
                    <div class="energy-rating-wrapper in-summary-card is-d">
                        <div class="rating-bubble">
                            <span class="label">Rating</span>
                            <div class="grade">D</div>
                        </div>
                        <div class="rating-bar" aria-hidden="true">
                            <div class="box a">A</div>
                            <div class="box b">B</div>
                            <div class="box c">C</div>
                            <div class="box d active">D</div>
                            <div class="box e">E</div>
                            <div class="box f">F</div>
                            <div class="box g">G</div>
                        </div>
                    </div>
                    <details class="govuk-details summary-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What does the rating mean?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Properties get a rating from A (best) to G (worst).
                            <br><br>
                            A better rating means the property has more efficient heating, hot water and cooking, and produces fewer carbon emissions.
                        </div>
                    </details>
                    <div class="govuk-!-padding-top-3">
                        <a href="/epc-reform/sustainable-heating" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Flexible energy use</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-body">
                    <div class="epc-card__intro">
                        <p>
                            This measures the energy technologies installed in this property, such as solar panels and batteries.
                        </p>
                    </div>
                    <div class="energy-rating-wrapper in-summary-card is-d">
                        <div class="rating-bubble">
                            <span class="label">Rating</span>
                            <div class="grade">D</div>
                        </div>
                        <div class="rating-bar" aria-hidden="true">
                            <div class="box a">A</div>
                            <div class="box b">B</div>
                            <div class="box c">C</div>
                            <div class="box d active">D</div>
                            <div class="box e">E</div>
                            <div class="box f">F</div>
                            <div class="box g">G</div>
                        </div>
                    </div>
                    <details class="govuk-details summary-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What does the rating mean?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Properties get a rating from A (best) to G (worst).
                            <br><br>
                            A better rating means the property can generate, store and shift more energy to different times of day.
                        </div>
                    </details>
                    <div class="govuk-!-padding-top-3">
                        <a href="/epc-reform/flexible-energy-use" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Energy bill estimate</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-body">
                    <div class="epc-card__intro">
                        <p>
                            This shows the estimated energy bill for this property. It is based on the typical energy use of a 2-person household. It is updated every 6 months to reflect changes in energy prices.
                        </p>
                        <div class="govuk-inset-text">
                            This is an estimate. The actual energy bill may be higher or lower, depending on the tariff and the amount of energy used.
                        </div>
                    </div>
                    <div class="energy-bill-wrapper is-average">
                        <div class="rating-bubble">
                            <span class="label">Cost per year</span>
                            <div class="grade govuk-!-margin-top-5" >£800</div>
                            <div class="bill-outro govuk-!-margin-top-3">This is average compared to similar properties</div>
                        </div>
                        <div class="energy-bill-bar" aria-hidden="true">
                            <div class="box low">Low</div>
                            <div class="box average active">Average</div>
                            <div class="box high">High</div>
                        </div>
                    </div>
                    <details class="govuk-details summary-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">How is this calculated?</span>
                        </summary>
                        <div class="govuk-details__text">
                            The calculation is made by working out how much energy a typical 2-person household would use in this property over a year.
                            This is then multiplied by average energy prices in the region over a 6-month period.
                            The prices were last updated in October 2025.
                        </div>
                    </details>
                    <div class="govuk-!-padding-top-3">
                        <a href="/epc-reform/energy-bill-estimate" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Letting standards for private landlords</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-body">
                    <div class="epc-card__intro">
                        <p>
                            Most properties must have an Energy efficiency rating from A to E to be privately rented.
                            Landlords can <a href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance" class="govuk-link">register an exemption</a> in some circumstances.
                        </p>
                        <div class="govuk-inset-text">
                            These requirements will change on 1st October 2030. <a href="#" class="govuk-link">Learn about the changes.</a>
                        </div>
                    </div>
                    <div class="letting-standards-wrapper is-f">
                        <div class="rating-bubble letting-standards-bubble">

                            <div class="govuk-warning-text govuk-!-margin-bottom-3">
                                <div class="warning-icon-container govuk-!-margin-left-5">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                </div>
                            </div>
                            <div class="warning-text-container">
                                <strong>
                                    <span class="govuk-visually-hidden">Warning</span>
                                    This property has an Energy efficiency rating of ‘F’ .<br>
                                    This property may not be let, unless the landlord registers an exemption.
                                </strong>
                            </div>
                        </div>
                        <div class="rating-bar lettings-bar govuk-!-padding-top-8" aria-hidden="true">
                            <div class="box a is-green">A</div>
                            <div class="box b is-green">B</div>
                            <div class="box c is-green">C</div>
                            <div class="box d is-green">D</div>
                            <div class="box e is-green">E</div>
                            <div class="box f active is-red">F</div>
                            <div class="box g is-red">G</div>
                        </div>
                    </div>
                    <details class="govuk-details summary-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">What is the Energy efficiency rating?</span>
                        </summary>
                        <div class="govuk-details__text">
                            Properties get an Energy efficiency rating from A (best) to G (worst).
                            <br><br>
                            A better rating means the property has lower costs for heating, hot water and lighting.
                        </div>
                    </details>
                    <div class="govuk-!-padding-top-3">
                        <a href="/epc-reform/letting-standards-for-private-landlords" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" role="button">
                            More details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Other property information
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <table id = "other-property-information" class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Measure</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Energy use</th>
                        <td class="govuk-table__cell">
                            <details class="govuk-details govuk-!-margin-top-0">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      High
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    This property is expected to use around 500 kilowatt-hours per square metre per year (on-site). This is high compared with similar properties.
                                </div>
                            </details>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Carbon emissions</th>
                        <td class="govuk-table__cell">
                            <details class="govuk-details govuk-!-margin-top-0">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      High
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    This property is expected to produce around 2.7 tonnes of CO2 per year. This is high compared with similar properties.
                                </div>
                            </details>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Previous certificates for this property
                </h2>
            </div>
            <div class="govuk-summary-card__content govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                <div id="previous-cert-for-property" class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <ul class="timeline">
                            <li class="timeline-item"><span class="date-text">6th May 2015</span></li>
                            <li class="timeline-item"><span class="date-text">11th June 2012</span></li>
                            <li class="timeline-item"><span class="date-text">27th October 2008</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Actions you can take</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="outro-wrapper">
            <div class="outro-item-1 outro-box">
                <div class="outro-item-1-title govuk-!-margin-top-7">
                    <h2 class="govuk-heading-l epc-blue-text govuk-!-margin-left-6">Want to know which improvements to make?</h2>
                </div>
                <div class="outro-item-1-content">
                    <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-6" data-module="govuk-button">
                        Get a personal action plan
                    </button>
                </div>
            </div>
            <div class="outro-item-2 outro-box icon-box">
                <div class="outro-item-2-content govuk-!-margin-left-5">
                    <svg
                            class="currency-icon actions-icons"
                            xmlns="http://www.w3.org/2000/svg"
                            height="30px"
                            viewBox="0 -960 960 960"
                            width="30px"
                            fill="#1D70B8">
                        <path d="M240-120v-80l16.5-10q16.5-10 36-29.5t35.5-50q16-30.5 16-70.5 0-11-1.5-21t-3.5-19h-99v-80h60q-21-33-40.5-69.5T240-640q0-92 64-156t156-64q71 0 126 39t79 101l-74 31q-15-40-50.5-65.5T460-780q-58 0-99 41t-41 99q0 48 24 80t49 80h167v80H421q2 9 2.5 19t.5 21q0 50-17.5 90T364-200h196q40 0 61-21t29-54l70 35q-11 55-56.5 87.5T560-120H240Z"/>
                    </svg>
                    <span class="govuk-body-m epc-blue-text outro-p govuk-!-margin-left-3">Find out if you can get funding</span>
                </div>
            </div>
            <div class="outro-item-3 outro-box icon-box">
                <div class="outro-item-3-content govuk-!-margin-left-5">
                    <svg
                            class="support-agent-icon actions-icons"
                            xmlns="http://www.w3.org/2000/svg"
                            height="30px"
                            viewBox="0 -960 960 960"
                            width="30px" fill="#1D70B8">
                        <path d="M440-120v-80h320v-284q0-117-81.5-198.5T480-764q-117 0-198.5 81.5T200-484v244h-40q-33 0-56.5-23.5T80-320v-80q0-21 10.5-39.5T120-469l3-53q8-68 39.5-126t79-101q47.5-43 109-67T480-840q68 0 129 24t109 66.5Q766-707 797-649t40 126l3 52q19 9 29.5 27t10.5 38v92q0 20-10.5 38T840-249v49q0 33-23.5 56.5T760-120H440ZM331.5-411.5Q320-423 320-440t11.5-28.5Q343-480 360-480t28.5 11.5Q400-457 400-440t-11.5 28.5Q377-400 360-400t-28.5-11.5Zm240 0Q560-423 560-440t11.5-28.5Q583-480 600-480t28.5 11.5Q640-457 640-440t-11.5 28.5Q617-400 600-400t-28.5-11.5ZM241-462q-7-106 64-182t177-76q89 0 156.5 56.5T720-519q-91-1-167.5-49T435-698q-16 80-67.5 142.5T241-462Z"/>
                    </svg>
                    <span class="govuk-body-m epc-blue-text outro-p govuk-!-margin-left-3">Get free expert advice </span>
                </div>
            </div>
            <div class="outro-item-4 outro-box icon-box">
                <div class="outro-item-3-content govuk-!-margin-left-5">
                    <svg
                            class="tools-icon actions-icons"
                            xmlns="http://www.w3.org/2000/svg"
                            height="30px"
                            viewBox="0 -960 960 960"
                            width="30px"
                            fill="#1D70B8">
                        <path d="M739-83.5q-7-2.5-13-8.5L522-296q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l85-85q6-6 13-8.5t15-2.5q8 0 15 2.5t13 8.5l204 204q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13l-85 85q-6 6-13 8.5T754-81q-8 0-15-2.5Zm15-92.5 29-29-147-147-29 29 147 147ZM189.5-83q-7.5-3-13.5-9l-84-84q-6-6-9-13.5T80-205q0-8 3-15t9-13l212-212h85l34-34-165-165h-57L80-765l113-113 121 121v57l165 165 116-116-43-43 56-56H495l-28-28 142-142 28 28v113l56-56 142 142q17 17 26 38.5t9 45.5q0 24-9 46t-26 39l-85-85-56 56-42-42-207 207v84L233-92q-6 6-13 9t-15 3q-8 0-15.5-3Zm15.5-93 170-170v-29h-29L176-205l29 29Zm0 0-29-29 15 14 14 15Zm549 0 29-29-29 29Z"/>
                    </svg>
                    <span class="govuk-body-m epc-blue-text outro-p govuk-!-margin-left-3">Find an installer  </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-8">
        <h2 class="govuk-heading-m">Share this page</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <div class="share-this-page-content">
            <div class="share-link-content">
                <svg
                        class="share-icon actions-icons"
                        xmlns="http://www.w3.org/2000/svg"
                        height="30px"
                        viewBox="0 -960 960 960"
                        width="30px"
                        fill="#1D70B8">
                    <path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm508.5-291.5Q720-743 720-760t-11.5-28.5Q697-800 680-800t-28.5 11.5Q640-777 640-760t11.5 28.5Q663-720 680-720t28.5-11.5ZM680-200ZM200-480Zm480-280Z"/>
                </svg>
                <p class="govuk-body govuk-!-padding-left-1">
                    <a href="#" class="govuk-link">Share link</a>
                </p>
            </div>
            <div class="print-content govuk-!-padding-left-7">
                <svg
                        class="print-icon actions-icons"
                        xmlns="http://www.w3.org/2000/svg"
                        height="30px"
                        viewBox="0 -960 960 960"
                        width="30px"
                        fill="#1D70B8">
                    <path d="M640-640v-120H320v120h-80v-200h480v200h-80Zm-480 80h640-640Zm560 100q17 0 28.5-11.5T760-500q0-17-11.5-28.5T720-540q-17 0-28.5 11.5T680-500q0 17 11.5 28.5T720-460Zm-80 260v-160H320v160h320Zm80 80H240v-160H80v-240q0-51 35-85.5t85-34.5h560q51 0 85.5 34.5T880-520v240H720v160Zm80-240v-160q0-17-11.5-28.5T760-560H200q-17 0-28.5 11.5T160-520v160h80v-80h480v80h80Z"/>
                </svg>
                <p class="govuk-body govuk-!-padding-left-1">
                    <a href="#" class="govuk-link">Print</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}