@use 'node_modules/govuk-frontend/dist/govuk/base' as *;

.epb-reading-width {
  max-width: 90ch;
}

.epb-ml-auto {
  margin-left: auto;
}

.epb-self-center {
  align-self: center;
}

.epb-whitespace-nowrap {
  white-space: nowrap;
}

.epb-whitespace-nowrap {
  white-space: nowrap;
}

.epb-break-anywhere {
  overflow-wrap: anywhere;
}

.epb-d-flex {
  display: flex;
}

.epb-gap-2 {
  gap: govuk-spacing(2);
}

.epb-max-w-20 {
  max-width: 20em;
}

.epb-items-center {
  align-items: center;
}

.govuk-button--epb-secondary {
  background-color: govuk-colour('black', $variant: 'tint-95');
  color: govuk-colour('black');
  border: 1px solid govuk-colour('black', $variant: 'tint-50');
  box-shadow: 0 1px 0 govuk-colour('black', $variant: 'tint-50');
  padding: 5px 7px 4px;

  &:hover,
  &:active,
  &:hover:active {
    background-color: govuk-colour('black', $variant: 'tint-80');
    color: #000;
  }

  &:focus,
  &:focus:not(:active):not(:hover) {
    border-color: govuk-colour('black', $variant: 'tint-50');
    background-color: govuk-colour('black', $variant: 'tint-95');
    box-shadow: 0 1px 0 govuk-colour('black', $variant: 'tint-50');
  }

  &:focus-visible,
  &:focus-visible:not(:active):not(:hover) {
    border-color: govuk-functional-colour('focus');
    border-bottom-color: govuk-colour('black');
    box-shadow: 0 1px 0 govuk-colour('black');
    background-color: govuk-functional-colour('focus');
  }

  &:active {
    box-shadow: none;
  }
}

.govuk-summary-list--epb {
  table-layout: auto;

  dt {
    width: auto;
    white-space: nowrap;
  }

  dd {
    width: auto;
  }

  .govuk-summary-list__actions {
    white-space: nowrap;
  }
}

.ebp-hr {
  color: govuk-functional-colour('input-border');
  border-style: solid;
  border-bottom-width: 0;
}

epb-copy-to-clipboard {
  display: none;

  &:defined {
    display: inline-block;
  }

  button {
    text-align: center;

    slot {
      display: flex;
      gap: govuk-spacing(1);
      justify-content: space-around;
      align-items: center;

      // Ensure that element has the width of the larger
      // of the two labels so the layout doesn't jump
      &[hidden] {
        visibility: hidden;
        height: 0;
      }
    }
  }

  .govuk-button {
    margin-bottom: 0;
  }
}
