@use "node_modules/govuk-frontend/dist/govuk/base" as *;

.epb-reading-width {
  max-width: 75ch;
}

.epb-ml-auto {
  margin-left: auto;
}

.epb-display-contents {
  display: contents;
}

.epb-after-display-none::after {
  display: none !important;
}

.epb-display-table-cell {
  display: table-cell;
}

epb-copy-to-clipboard {
  display: none;

  &:defined {
    display: block; 
  }

  button {
    text-align: center;

    slot {
      display: flex;
      gap: govuk-spacing(1);
      justify-content: space-around;
      align-items: center;

      // Ensure that element has the width of the larger
      // of the two labels so the layout doesn't jump
      &[hidden] {
        visibility: hidden;
        height: 0;
      }
    }
  }

  .govuk-button {
    margin-bottom: 0;

    &:active {
      top: 0;
    }
  }
}
