<div class="govuk-grid-row">
    <h2 class="govuk-heading-m govuk-!-padding-top-2">
        Get help
    </h2>

    <p class="govuk-body">
        <a href="get-energy-certificate-data/guidance">Visit the guidance page</a> for information on:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
        <li>what the data contains</li>
        <li>data methodology and limitations</li>
        <li>using the developer API</li>
        <li>licensing restrictions</li>
    </ul>

    <p class="govuk-body">
        For enquiries about the data, please contact the Ministry of Housing, Communities and Local Government (MHCLG)
    </p>

    <p class="govuk-body">
        <a class="govuk-link" href="mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - ">mhclg.digital-services@communities.gov.uk</a>
    </p>
</div>