<h1>Templates folder</h1>

<p>The files in here must always be kept up to date with their live counter parts. When a change is confirmed and added to the live page the same updates must be made to the pages here as part of the same ticket.</p>

<p><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/templates/find-a-certificate-result-b">find-a-certificate-result-b</a></p>
<p><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/templates/find-a-certificate-result-d">find-a-certificate-result-d</a></p>
<p><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/templates/find-a-certificate-result-f">find-a-certificate-result-f</a></p>