{% from "service-header/service-header.njk" import govukOneLoginServiceHeader %}
{% extends "layouts/main.html" %}

{#
{% set endHtml %}
  <li class='epb-ml-auto epb-self-center'>
    <form action='/get-energy-certificate-data/sign-out' method='POST'>
      <button
        class='
          govuk-button
          govuk-button--secondary
          govuk-!-margin-bottom-0
          govuk-button--epb-secondary
        '
      >
        Sign out
      </button>
    </form>
  </li>
{% endset %}
#}

{% block govukHeader %}
  {% if data.signedIn %}
    {{ govukOneLoginServiceHeader({
      signOutFormAction: "/get-energy-certificate-data/sign-out",
      oneLoginLink: "/get-energy-certificate-data/one-login"
    }) }}
  {% else %}
    {{ govukHeader({
      homepageUrl: "/"
    }) }}
  {% endif %}
{% endblock %}

{% block govukServiceNavigation %}
  {% if data.signedIn %}
    {{ govukServiceNavigation({
      serviceName: "Get energy certificate data",
      serviceUrl: "/get-energy-certificate-data",
      navigation: [
        {
          href: "/get-energy-certificate-data/authenticated/my-account",
          text: "My account",
          active: section == "my_account"
        }
      ]
    }) }}
  {% else %}
    {{ govukServiceNavigation({
      serviceName: "Get energy certificate data",
      serviceUrl: "/get-energy-certificate-data"
    }) }}
  {% endif %}
{% endblock %}

{% block govukFooter %}
  {% if data.signedIn %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://prototype-kit.service.gov.uk/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "/get-energy-certificate-data/authenticated/my-account",
            text: "My account"
          }
        ]
      }
    }) }}
  {% else %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://prototype-kit.service.gov.uk/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endif %}
{% endblock %}
