.govuk-error-summary {
  overflow: hidden;
}

.epc-box {
  color: #fff;
  background: #28a197;
  padding: 0px;
  overflow: hidden;
}

.epc-box .epc-address {
  padding-left: 30px;
  padding-top: 30px;
}

.epc-box p.govuk-body, .epc-rating-box p.govuk-body {
  color: #fff;
}

.epc-rating-box {
  width: 150px;
  background: #28a197;
  text-align: center;
  float: right;
  border: 2px solid #fff;
  margin: 10px;
}

.epc-rating-box.do-wide {
  width: 45%;
}

.epc-rating-title {
  line-height: 30px;
  font-size: 20px;
}

.epc-rating-result {
  line-height: 100px;
  font-size: 100px;
  font-weight: bold;
}

.epc-rating-result span {
  display: block;
  line-height: 40px;
  padding-top: 10px;
  font-size: 40px;
}

.epc-rating-result span span {
  padding-top: 0;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
  font-size: 20px;
}

p.epc-extra-box {
  border-top: 2px solid #fff;
  clear: both;
  line-height: 90px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  float: left;
  width: 50%;
}

p.epc-extra-box + p.epc-extra-box {
  border-left: 2px solid #fff;
  box-sizing: border-box;
  float: right;
  clear: none;
  line-height: 60px;
}

p.epc-extra-box span {
  display: block;
  font-weight: normal;
}

p.epc-extra-box b {
  display: block;
  margin-top: -30px;
}

.epc-blue-bottom {
  border-bottom: 4px solid #1d70b8;
  margin-bottom: 25px!important;
  padding-bottom: 40px;
  overflow: hidden;
}

.govuk-summary-list__row .govuk-summary-list__key {
  font-weight: normal;
}

.govuk-summary-list__row .govuk-summary-list__value {
  font-weight: bold;
}

.govuk-panel--fixed-height {
  height: 300px;
}

div.govuk-error-summary:focus {
  outline: none;
}

.smaller-left .govuk-\!-width-one-half {
  width: 30%!important;
}

.star-0, .star-1, .star-2, .star-3, .star-4, .star-5 {
  float: right;
  display: block;
}

.star-0:after {
  content: "---";
  font-size: 13px;
  text-align: center;
}

.star-1:after {
  content: "★☆☆☆☆";
}

.star-2:after {
  content: "★★☆☆☆";
}

.star-3:after {
  content: "★★★☆☆";
}

.star-4:after {
  content: "★★★★☆";
}

.star-5:after {
  content: "★★★★★";
}

@media print {
  .epc-no-print, footer, .app-cookie-banner, .govuk-back-link {
    display: none;
  }

  .epc-page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  .govuk-grid-column-full, .govuk-width-container {
    width: auto !important;
    float: none !important;
  }
}
