
<h1 class="govuk-heading-xl">User research sessions October 2021</a></h1>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/oct-2021/find-a-certificate-result-EIR-c">find-a-certificate-result-EIR-c</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>Content - added 'Support to pay for energy improvements'</li>
    <li>Energy efficiency standards for this property version 1</li>
    <li>Under Primary energy use - smart meter section</li>
    <li>Environmental impact rating blue box with letter C and information table</li>
    <li>Recommendations changed to steps</li>
    <li>Support to pay for improvements section</li>
</ul>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/oct-2021/find-a-certificate-result-EIR-e">find-a-certificate-result-EIR-e</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>Content - added 'Support to pay for energy improvements'</li>
    <li>Energy efficiency standards for this property version 2</li>
    <li>Under Primary energy use - smart meter section</li>
    <li>Environmental impact rating blue box with letter e rating with original table below</li>
    <li>Recommendations changed to steps</li>
    <li>Support to pay for improvements section</li>
</ul>
