{% extends "get-energy-certificate-data/layouts/main.html" %}

{% block pageTitle %}
  Change email - GOV.UK
{% endblock %}

{% set section = "my_account" %}

{{ backLink }}
{% set backLink = "/get-energy-certificate-data/authenticated/my-account" %}
{{ backLink }}

{% block content %}
  <div class='epb-reading-width'>
    <h1 class='govuk-heading-xl'>Change email</h1>

    <p>We use the email from your GOV.UK One Login.<p>

    <p>You can change your email in your GOV.UK One Login.</p>

    <p>
      After changing your email in GOV.UK One Login,
      sign back into this service for the change 
      to take effect.
    </p>

    <p>
      <a href="/get-energy-certificate-data/one-login">
        Change email in GOV.UK One Login
      </a>
    </p>
  </div>
{% endblock %}
