{% from "get-energy-certificate-data/components/copy-button.html" import epbCopyButton %}
{% extends "get-energy-certificate-data/layouts/main.html" %}

{% block pageTitle %}
  My account - GOV.UK
{% endblock %}

{% block content %}
  <div class='epb-reading-width'>

    {% if flash %}
      {% call govukNotificationBanner({
          type: "success"
        })
      %}
        {{ flash }}
      {% endcall %}
    {% endif %}

    <h1 class='govuk-heading-xl'>My account</h1>

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>Bearer tokens</h2>

    {% if data.bearerTokens | length > 1 %}
      <dl class='govuk-summary-list govuk-summary-list--epb'>
        {% for token in data.bearerTokens %}
          {% set bearerDomId = "bearer_token_" ~ loop.index %}
          {% set bearerHidden = "Bearer token starting " ~ token.value | bearerStarting ~ " created " ~ token.createdAt | formatDate(
              "long"
            )
          %}
          {{ bearerId | dump }}
          <div class='govuk-summary-list__row'>
            <dt id='{{ bearerDomId }}_label' class='govuk-summary-list__key'>
              {{ token.createdAt | formatDate("medium") }}
            </dt>
            <dd id='{{ bearerDomId }}' class='govuk-summary-list__value'>
              <code id='{{ bearerDomId }}' class='epb-break-anywhere'>
                {{ token.value }}
              </code>
            </dd>
            <dd class='govuk-summary-list__actions epb-whitespace-nowrap'>
              {% if data.bearerTokens | length > 1 %}
                <ul class='govuk-summary-list__actions-list'>
                  <li class='govuk-summary-list__actions-list-item'>
                    {{ epbCopyButton(bearerDomId, bearerHidden) }}
                  </li>
                  <li class='govuk-summary-list__actions-list-item'>
                    {% if data.bearerTokens | length > 1 %}
                      <a
                        id='{{ bearerDomId }}_delete'
                        class='govuk-link'
                        href='/get-energy-certificate-data/authenticated/delete-bearer-token?index={{ loop.index0 }}'
                      >
                        Delete
                        <span class='govuk-visually-hidden'>
                          {{ bearerHidden }}
                        </span>
                      </a>
                    {% endif %}
                  </li>
                </ul>
              {% else %}
                {{ epbCopyButton(bearerDomId, "Bearer token") }}
              {% endif %}
            </dd>
          </div>
        {% endfor %}
      </dl>
    {% else %}
      <div
        class='govuk-body epb-d-flex epb-gap-2 epb-items-center govuk-!-margin-bottom-5'
      >
        <code id='bearer-token' class='epb-break-anywhere epb-max-w-20'>
          {{ data.bearerTokens[0].value }}
        </code>
        {{ epbCopyButton("bearer-token", "bearer-token_label", "Bearer token") }}
      </div>

      <form
        method='post'
        action='/get-energy-certificate-data/authenticated/create-bearer-token'
      >
        {{ govukButton({
          text: "Create additional token"
        }) }}
      </form>
    {% endif %}

    <hr class="epb-hr"> 

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>Service update emails</h2>

    <p>
      We will send emails to subscribed users about major changes to the service such as:
    </p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>changes to the API</li>
      <li>changes to the published data</li>
      <li>notification interruptions to the service.</li>
    </ul>

    <dl class='govuk-summary-list govuk-summary-list--epb'>
      <div class='govuk-summary-list__row'>
        <dt class='govuk-summary-list__key'>Subscription</dt>
        <dd class='govuk-summary-list__value'>
          {% if data.subscribed %}
            Subscribed to service updates
          {% else %}
            Not subscribed to service updates
          {% endif %}
        </dd>
        <dd class='govuk-summary-list__actions'>
          {#
            {% if data.subscribed %}
              <form method="post" action="/get-energy-certificate-data/authenticated/unsubscribe">
                {{ govukButton({
                  classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-button--epb-secondary",
                  html: "Unsubscribe <span class='govuk-visually-hidden'>from service updates</span>"
                }) }}
              </form>
            {% else %}
              <form method="post" action="/get-energy-certificate-data/authenticated/subscribe">
                {{ govukButton({
                  classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-button--epb-secondary",
                  html: "Subscribe <span class='govuk-visually-hidden'>to service updates</span>"
                }) }}
              </form>
            {% endif %}
          #}
          <a href='/get-energy-certificate-data/authenticated/service-updates'>
            Change
            <span class='govuk-visually-hidden'>
              service update subscription
            </span>
          </a>
        </dd>
      </div>
      <div class='govuk-summary-list__row'>
        <dt class='govuk-summary-list__key'>Email address</dt>
        <dd id='{{ bearerDomId }}' class='govuk-summary-list__value'>
          {{ data.email }}
        </dd>
        {#
          <dd class="govuk-summary-list__actions epb-whitespace-nowrap">
            <a href="/get-energy-certificate-data/authenticated/change-email" class="govuk-link">
              Change
            </a>
          </dd>
        #}
      </div>
    </dl>

    <hr class="epb-hr"> 

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>Delete your account</h2>

    <p>Deleting your account removes your data from this service.</p>
    <p>
      You will no longer be able to use the service or API, and you will stop receiving email updates.
    </p>
    <p>
      <a href='/get-energy-certificate-data/authenticated/delete-account'>
        Delete your account
      </a>
    </p>

  </div>
{% endblock %}
