<h1 class="govuk-heading-xl">User research sessions September 2021</h1>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/sept-2021/find-a-certificate-result-EIR-green-box">find-a-certificate-result-EIR-green-box</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>Under Primary energy use - smart meter section</li>
    <li>Environmental impact rating box added in green</li>
</ul>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/sept-2021/find-a-certificate-result-net-zero">find-a-certificate-result-net-zero</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>Content - added 'Support to pay for energy improvements'</li>
    <li>Under Primary energy use - smart meter section</li>
    <li>Environmental impact rating blue box only</li>
    <li>Recommendations changed to steps</li>
    <li>Support to pay for improvements section</li>
</ul>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/sept-2021/find-a-certificate-result-superseded">find-a-certificate-result-superseded</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>Superseded warning at top of page</li>
    <li>Content - added 'Support to pay for energy improvements'</li>
    <li>Under Primary energy use - smart meter section</li>
    <li>Environmental impact rating blue box with original table below</li>
    <li>Recommendations changed to steps</li>
    <li>Support to pay for improvements section</li>
</ul>
