<h1 class="govuk-heading-xl">User research sessions data page</h1>

<h2 class="govuk-heading-m"><a href="/data-page/user-journey/data-page-v3">Start page</a></h2>
<ul>
    <li>Start page with the dom/ non-dom selection</li>
</ul>
<h2 class="govuk-heading-m"><a href="/data-page/user-journey/data-page-v3-dom-filters">Domestic filters page</a></h2>
<ul>
    <li>Filters for the domestic certs on a separate page</li>
</ul>
<h2 class="govuk-heading-m"><a href="/data-page/user-journey/data-page-v3-non-dom-filters">Non-domestic filters page</a></h2>
<ul>
    <li>Filters for the non-domestic certs on a separate page</li>
</ul>
<h2 class="govuk-heading-m"><a href="/data-page/user-journey/data-page-v3-dom-results">Domestic results page</a></h2>
<ul>
    <li>Results table for the domestic certs on a separate page</li>
</ul>
<h2 class="govuk-heading-m"><a href="/data-page/user-journey/data-page-v3-non-dom-results">Non-domestic results page</a></h2>
<ul>
    <li>Results table for the non-domestic certs on a separate page</li>
</ul>
