{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl printable-area">
                Get data on energy certificates
            </h1>
            <p class="govuk-body">Use this page to find data on the:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>number of certificates uploaded to the Energy Performance of Buildings Register</li>
                <li>energy rating of certificates</li>
            </ul>
            <div class="allow-break ">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">How to use this data</span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            All certificates uploaded to the Energy Performance of Buildings Register are shown. Some certificates may have expired or been replaced.
                            <br /><br />
                            Energy certificates are not:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>required for every property in the UK</li>
                            <li>directly comparable over time, due to changes in methodology</li>
                            <li>a direct indicator of housing supply or the state of the housing or rental market</li>
                        </ul>
                        <p class="govuk-body">This data is not classed as official statistics. <a class="govuk-link" href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/">Find out what this means</a>.</p>
                    </div>
                </details>
            </div>
            <p class="govuk-body">This data is updated monthly and covers:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>England</li>
                <li>Wales</li>
                <li>Northern Ireland</li>
            </ul>
            <p class="govuk-body">
                For data in Scotland, <a class="govuk-link" href="https://www.scottishepcregister.org.uk/CustomerFacingPortal/DataExtract">visit the Scottish Energy Performance Certificate Register</a>.
            </p>
        </div>
        <br>
        <div class="allow-break ">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Can't find what you are looking for?</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">For more detailed energy certificate data,
                        check the data published on <a class="govuk-link" href="https://epc.opendatacommunities.org/domestic/search">Open Data Communities</a>. This data is updated monthly.
                    </p>
                    <p class="govuk-body">
                        For enquiries about energy certificate data, please contact the Ministry of Housing, Communities and Local Government (MHCLG).
                    </p>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">svc-mhclg.digital-services@communities.gov.uk</a></li>
                        <li>Telephone: 020 3829 0748</li>
                        <li>Monday to Friday, 9am to 5pm</li>
                    </ul>
                </div>
            </details>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What type of property do you want data on?
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                            Domestic properties
                        </label>
                        <div id="whereDoYouLive-hint" class="govuk-hint govuk-radios__hint">
                            For example houses or flats
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                            Non-domestic properties
                        </label>
                        <div id="whereDoYouLive-2-hint" class="govuk-hint govuk-radios__hint">
                            For example commercial, industrial or public buildings
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <a href="/data-page/user-journey/data-page-v3-dom-filters#radio">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Select
            </button>
        </a>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>

{% endblock %}