{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl printable-area">
                Get data on energy certificates
            </h1>
            <a href="/data-page/user-journey/data-page-v3" class="govuk-back-link">Back</a>
            <p class="govuk-body">Use the filter to select the data you need</p>
            <p class="govuk-body">You will get all of the data from all projects and programmes if you do not select any filters.</p>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="area-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading-m">
                        What certificate type do you want data on?
                    </h2>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="cert-type-1" name="cert-type" type="radio" value="cepc" data-aria-controls="conditional-cepc">
                        <label class="govuk-label govuk-radios__label" for="cert-type-1">
                            Commercial energy performance certificate (CEPC)
                        </label>
                        <div id="cert-type-1-hint" class="govuk-hint govuk-radios__hint">
                            For non-domestic properties.
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="cert-type-2" name="cert-type" type="radio" value="dec" data-aria-controls="conditional-dec">
                        <label class="govuk-label govuk-radios__label" for="cert-type-2">
                            Display energy certificate (DEC)
                        </label>
                        <div id="cert-type-2-hint" class="govuk-hint govuk-radios__hint">
                            For public buildings.
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="cert-type-3" name="cert-type" type="radio" value="ac" data-aria-controls="conditional-ac">
                        <label class="govuk-label govuk-radios__label" for="cert-type-3">
                            Air conditioning inspection certificate (AC-CERT)
                        </label>
                        <div id="cert-type-3-hint" class="govuk-hint govuk-radios__hint">
                            For buildings with air conditioning systems above 12 kW.
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What does this mean?
                                </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Commercial energy performance certificates are for private commercial properties. They are based on the carbon dioxide emissions of the property. ----- Does the rating not also take into account the cost like a domestic EPC?</p>
                    <p>Display energy certificates are for public property. They are based on the energy use of the property.</p>
                </div>
            </details>
        </div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="energy-efficiency-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading-m">
                        Which nations do you want data on?
                    </h2>
                </legend>
                <br>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="england" name="england" type="checkbox" value="england">
                        <label class="govuk-label govuk-checkboxes__label" for="england">
                            England
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="wales" name="wales" type="checkbox" value="wales">
                        <label class="govuk-label govuk-checkboxes__label" for="wales">
                            Wales
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="n-ireland" name="n-ireland" type="checkbox" value="n-ireland">
                        <label class="govuk-label govuk-checkboxes__label" for="n-ireland">
                            Northern Ireland
                        </label>
                    </div>
            </fieldset>
        </div>
        <a href="/data-page/user-journey/data-page-v3-non-dom-results">
            <button type="submit" class="govuk-button" data-module="govuk-button">
               Get data
            </button>
        </a>
    </div>
</div>

{% endblock %}