.energy-rating-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 40.0625em) {
  .energy-rating-wrapper {
    max-width: 450px;
  }
}

.rating-bubble {
  border: 1px solid #888;
  text-align: center;
  position: relative;
  padding: 4rem 8% 8%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rating-bubble .label {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.rating-bubble .grade {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-bottom: 25px;
  position: relative;
  bottom: 4px;
}

.rating-bubble::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;

  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  bottom: -17px;
  transform: translateX(-50%) rotate(45deg);
}

.rating-bar {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  width: 100%;
  margin-top: 17px;
}

.energy-bill-wrapper > .rating-bubble {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 12px 6% 12px;
  min-height: 170px;
  margin-bottom: 45px;
}

.energy-bill-wrapper > .rating-bubble .label,
.energy-bill-wrapper > .rating-bubble .bill-outro {
  position: static;
  width: 100%;
  margin: 0;
}

.energy-bill-wrapper > .rating-bubble .label {
  align-self: start;
}

.energy-bill-wrapper > .rating-bubble .grade {
  flex: 0.34;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: static;
}

.energy-bill-bar {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  width: 100%;
}

.box {
  flex: 1;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
  min-width: 0;
}

.box.active {
  height: 60px;
  font-weight: 700;
  font-size: 1.3rem;
  align-items: flex-start;
  padding-top: 10px;
}
.energy-bill-bar > .box {
  flex: 1;
  height: 26px;
}

.energy-bill-bar > .box.active {
  height: 47px;
  flex: 0 0 37%;
  align-items: center;
  padding-top: 0;
}

.epc-card__intro > .govuk-inset-text {
  margin-top: 0;
}

.warning-icon-container{
  display: flex;
  align-items: center;
}

.warning-icon-container{
  font-size: 1.4rem;
}

.lettings-bar{
  height: 29px;
  gap: 8px;
}

.lettings-bar .active{
  height: 58px;
  gap: 8px;
  align-items: center;
  padding: 0;
}

.is-a .rating-bubble::after { left: calc((100% / 7) * 0.5); }
.is-b .rating-bubble::after { left: calc((100% / 7) * 1.5); }
.is-c .rating-bubble::after { left: calc((100% / 7) * 2.5); }
.is-d .rating-bubble::after { left: calc((100% / 7) * 3.5); }
.is-e .rating-bubble::after { left: calc((100% / 7) * 4.5); }
.is-f .rating-bubble::after { left: calc((100% / 7) * 5.5); }
.is-g .rating-bubble::after { left: calc((100% / 7) * 6.5); }

.is-low .rating-bubble::after { left: calc((100% / 3) * 0.5); }
.is-average .rating-bubble::after { left: calc((100% / 3) * 1.5); }
.is-high .rating-bubble::after { left: calc((100% / 3) * 2.5); }


.is-c .rating-bubble,
.is-c .rating-bubble::after { background-color: #E7EBDB; }

.is-d .rating-bubble,
.is-d .rating-bubble::after { background-color: #FFF8CC; }

.is-average .rating-bubble,
.is-average .rating-bubble::after { background-color: #FFF8CC; }

.is-f .letting-standards-bubble,
.is-f .letting-standards-bubble::after { background-color: #F4D7D7; }


.a { background-color: #005A30; color: white; }
.b { background-color: #11875A; color: white; }
.c { background-color: #85994B; color: black; }
.d { background-color: #FFDD00; color: black; }
.e { background-color: #F47738; color: black; }
.f { background-color: #CA3535; color: white; }
.g { background-color: #AA2A16; color: white; }


.low { background-color: #11875A; color: white; }
.average { background-color: #FFDD00; color: black; }
.high { background-color: #CA3535; color: white; }

.lettings-bar > .is-green { background-color: #11875A; color: white; }
.lettings-bar > .is-red { background-color: #CA3535; color: white; }
