.timeline {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 2px;
  background-color: #1D70B8;
}

.timeline-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 30px;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  border: 2px solid #1D70B8;
  border-radius: 50%;
  background-color: white;
}

.timeline-item .date-text {
  color: #1D70B8;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  display: block;
}