.epc-summary-list__row--stacked {
  display: block;
}

.epc-summary-list__row--stacked .govuk-summary-list__key,
.epc-summary-list__row--stacked .govuk-summary-list__value {
  display: block;
  width: 100%;
}

.epc-summary-list__row--stacked .govuk-summary-list__key {
  margin-bottom: 4px;
  padding-bottom: 0.5rem;
}

.epc-summary-list__row--stacked .govuk-summary-list__value {
  padding-top: 0;
}

@media (min-width: 40.0625em) {
  .epc-summary-cards-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .ratings-row{
    align-items: flex-start;
  }

  .epc-summary-cards-row > [class*="govuk-grid-column-"] {
    display: flex;
    flex-direction: column;
  }

  .epc-summary-cards-row .govuk-summary-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .epc-summary-cards-row .govuk-summary-card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .govuk-body{
    margin-bottom: 0;
  }
  
  .epc-summary-cards-row .govuk-summary-card__content > .govuk-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .epc-summary-cards-row .govuk-summary-card__content > .govuk-body > p {
    margin-top: 0;
  }

  .epc-card__intro {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.summary-details {
  margin-top: 2rem;
}

.assesment-details {
  margin-top: 10px;
  margin-bottom: 0;
}

#other-property-information .govuk-summary-list__row:first-of-type {
  font-weight: bold;
}

#other-property-information .govuk-summary-list__row:not(:first-child) dt.govuk-summary-list__key {
  font-weight: normal;
}

#previous-cert-for-property .govuk-summary-list__row {
  padding-bottom: 20px;
}

.improve-rating-contents-wrapper {
  display: flex;
}

#roof-insulation,
#double-glazing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#roof-insulation > details,
#double-glazing > details {
  margin-bottom: 0;
}

.improve-rating-table,
.improve-rating-table .govuk-table__row:last-child .govuk-table__cell {
  margin-bottom: 0;
}

.improve-rating-contents {
  display: flex;
  gap: 20%;
  border-right: 1px solid #B1B4B6;
  box-sizing: border-box;
}

.improve-rating-contents > ul {
  margin: 0;
  padding-left: 20px;
}

.improve-rating-contents > ul li {
  margin-bottom: 18px;
}

.improve-rating-contents > ul li:last-child {
  margin-bottom: 0;
}

.improve-rating-score {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.improve-rating-score .govuk-body {
  margin-bottom: 8px;
}

.improve-rating-button {
  margin-top: 24px;
  margin-bottom: 0;
}

.improve-rating-table > tbody > tr {
  border-bottom: hidden;
}

.points {
  display: inline-block;
  padding: 4px 10px;
}

#roof-insulation-points {
  background: #CCE2D8;
  color: #005A30;
}

#double-glazing-points {
  background: #FFF7BF;
  color: #594D00;
}


@media (max-width: 640px) {
  .govuk-summary-list__row {
    display: flex;
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    width: auto;
    flex: 0.5;
  }
}

#main-content:has(.govuk-back-link) {
  padding-top: 0;
}