.govuk-summary-card__content .govuk-table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

.govuk-table__header,
.govuk-table__cell {
  padding-bottom: 10px;
}

#other-property-information .govuk-details {
  margin-bottom: 0;
}

#other-property-information .govuk-table__header[scope="col"] {
  font-weight: bold;
}
#other-property-information .govuk-table__header[scope="row"] {
  font-weight: normal;
}

#about-assessment-table tbody > tr:nth-child(2) > th.govuk-table__header,
#about-assessment-table tbody > tr:nth-child(3) > th.govuk-table__header,
#about-assessment-table tbody > tr:nth-child(4) > th.govuk-table__header,
#about-assessment-table tbody > tr:nth-child(5) > th.govuk-table__header {
  font-weight: normal;
}

.assesment-details{
  margin: 0;
}

@media (max-width: 640px) {
  #other-property-information {
    margin-bottom: 30px;
  }

  .govuk-table__header {
    width: auto;
  }

  #about-assessment-table > tbody > tr:nth-child(1) > th,
  #assessor-details-table > tbody > tr:nth-child(1) > th,
  #accreditation-scheme-table > tbody > tr:nth-child(1) > th{
    width: 33% !important;
  }

}

.property-features-description-box {
  max-width: 90px;
  display: flex;
  justify-content: center;
}

.property-features-description-box#box-1,
.property-features-description-box#box-3{
  background: #CCE2D8;
  color: #005A30;
}

.property-features-description-box#box-2{
   background: #FCD6C3;
   color: #6E3619;
}

.property-features-description-box#box-4 {
    background: #FFF7BF;
    color: #594D00;
 }
