.epc-summary-list__row--stacked {
  display: block;
}

.epc-summary-list__row--stacked .govuk-summary-list__key,
.epc-summary-list__row--stacked .govuk-summary-list__value {
  display: block;
  width: 100%;
}

.epc-summary-list__row--stacked .govuk-summary-list__key {
  margin-bottom: 4px;
  padding-bottom: 0.5rem;
}

.epc-summary-list__row--stacked .govuk-summary-list__value {
  padding-top: 0;
}
