.govuk-summary-card__content .govuk-table .cell-one {
  width: 100px;
}

.govuk-summary-card__content .govuk-table .cell-two {
  padding-left: 20%;
}

.govuk-table__header,
.govuk-table__cell {
  padding-bottom: 10px;
}

.govuk-details {
  margin-bottom: 0;
}