.govuk-summary-card__content .govuk-table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

.govuk-table__header,
.govuk-table__cell {
  padding-bottom: 10px;
}

#other-property-information .govuk-details {
  margin-bottom: 0;
}

#other-property-information .govuk-table__header[scope="col"] {
  font-weight: bold;
}
#other-property-information .govuk-table__header[scope="row"] {
  font-weight: normal;
}

.property-feature-table tbody > tr:nth-child(2) > th.govuk-table__header,
.property-feature-table tbody > tr:nth-child(3) > th.govuk-table__header,
.property-feature-table tbody > tr:nth-child(4) > th.govuk-table__header,
.property-feature-table tbody > tr:nth-child(5) > th.govuk-table__header {
  font-weight: normal;
}

.assesment-details {
  margin: 0;
}

.property-feature-table > tbody > tr > td:nth-child(3),
.property-feature-table > tbody > tr:nth-child(1) > th:nth-child(3),
.property-feature-table > tbody > tr:nth-child(2) > td:nth-child(3)  {
  text-align: -webkit-right;
}

@media (max-width: 640px) {
  #other-property-information {
    margin-bottom: 30px;
  }

  .property-feature-table {
    table-layout: fixed;
    width: 100%;
  }

  .property-feature-table th,
  .property-feature-table td,
  .property-feature-table .govuk-table__header,
  .property-feature-table .govuk-table__header {
    width: 33.333% !important;
  }

  #about-assessment-table > tbody > tr:nth-child(1) > th,
  #assessor-details-table > tbody > tr:nth-child(1) > th,
  #accreditation-scheme-table > tbody > tr:nth-child(1) > th{
    width: 33% !important;
  }
}

.property-features-description-box {
  max-width: 90px;
  display: flex;
  justify-content: center;
}

.is-good{
  background: #CCE2D8;
  color: #005A30;
}

.is-poor{
   background: #FCD6C3;
   color: #6E3619;
}

.is-fair {
    background: #FFF7BF;
    color: #594D00;
 }
