<h1 class="govuk-heading-xl">User research sessions EPC metrics part L round 2</h1>

<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/metrics-partL-round2/new-build">new-build</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>B rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
    <li>'Estimated energy use' section removed</li>
</ul>
<h2 class="govuk-heading-m"><a href="https://mhclg-epb-prototypes.london.cloudapps.digital/metrics-partL-round2/existing-build">existing-build</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>E rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
    <li>'Estimated energy use' section removed</li>
</ul>
