{% extends "layout.html" %}

{% block pageTitle %}
Find an assessor | Energy performance of buildings
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">
            What is the postcode of the property?
        </h1>

        <form action="/result" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label class="govuk-label" for="postcode">
                        Postcode
                    </label>

                    <input name="postcode" class="govuk-input" id="postcode" type="text" />

                    <span id="more-detail-hint" class="govuk-hint">
                        For example SW1A 2AA
                    </span>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Find an assessor</button>
        </form>

        <p>
          If you do not have the postcode, you can contact the help desk at 
            <a href="tel:03342343777" class="govuk-link">
              0334 234 3777</a>.
        </p>
    </div>
</div>

{% endblock %}