{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- BACK BUTTON -->
        <h1 class="govuk-heading-xl">
            What is the postcode of the property that you need an assessment for
        </h1>

        <form action="/result" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label class="govuk-label" for="postcode">
                        What is the postcode for the property that needs an EPC?
                    </label>
                    <span id="more-detail-hint" class="govuk-hint">
                        For example SW1A 2AA
                    </span>

                    <input name="postcode" class="govuk-input" id="postcode" type="text" />
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Find an assessor</button>
        </form>

        <!-- Directly -->
    </div>
</div>

{% endblock %}