{% extends "layout.html" %}

{% block pageTitle %}
Find an assessor | Energy performance of buildings
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">
      Find an energy assessor
    </h1>
    <p class="govuk-body">
        Find energy assessors in your area.
    </p>

    <div class="postcode-search-form">
      <form action="/result" method="post" class="form">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label" for="postcode">
                Enter a postcode
              </label>
            <span id="more-detail-hint" class="govuk-hint">
              For example SW1A 2AA
            </span>
            <input name="postcode" class="govuk-input" id="postcode" type="text" pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required />
            </div>
            <button class="govuk-button" data-module="govuk-button">Find</button>
            <p>
              <a class="govuk-link" rel="external" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a>
            </p>
          </fieldset>
        </form>
    </div>
  </div>
</div>

{% endblock %}
