{% extends "layout.html" %}

{% block pageTitle %}
Air Conditioning Inspection Certificate
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-!-margin-bottom-8">
      <a href="/find-a-non-dom-certificate" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        Air Conditioning Inspection Certificate
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="epc-blue-top" />
      <h2 class="govuk-heading-m">Certificate contents</h2>
      <div class="dashed-p">
        <p class="govuk-body"><a href="#assessment_details">Assessment details</a></p>
        <p class="govuk-body"><a href="#inspection_report">Inspection report</a></p>
        <p class="govuk-body"><a href="#sub_systems">Sub systems inspected</a></p>
        <p class="govuk-body"><a href="#contacting_assessor">Contacting the assessor and accreditation scheme</a></p>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <hr class="epc-light-top" />
      <div class="epc-blue-bottom">
        <div class="epc-box">
          <div class="epc-rr-report-box">
            <p class="govuk-body">
              Report number<br>
              <b>9876-6789-5432-2345-1350</b>
            </p>
          </div>
          <div class="epc-rr-expiry-box">
            <p class="govuk-body">
              Valid until<br>
              <b>21 September 2020</b>
            </p>
          </div>
          <p class="epc-rr-address govuk-body">
            66 Primrose Hill<br>
            London<br>
            NW3 2UU
          </p>
        </div>
      </div>
      <div>
        <a onclick="window.print();return false;" class="govuk-link govuk-!-margin-bottom-5" id="link" href="#" style="display: none;">Print this report</a>
        <noscript>
          <p class="govuk-body">To print this report, press CMD/CTRL + P on your keyboard</p>
        </noscript>
        <script>document.getElementById('link').style.display = 'block';</script>
        <hr class="epc-light-top">
      </div>
    </div>
    <div class="govuk-grid-column-one-third"> <br> </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body epc-page-break epc-blue-bottom">
        <h2 class="govuk-heading-l" id="assessment_details">Assessment details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Inspection date</dt>
            <dd class="govuk-summary-list__value">22 September 2015</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Inspection level</dt>
            <dd class="govuk-summary-list__value">Level 3</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessment software</dt>
            <dd class="govuk-summary-list__value">CLG, ACReport, v2.0</dd>
          </div>
          <div class="govuk-summary-list__row" id="tools">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s declaration</dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details" open="">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  No connection to the property
                  </span>
                </summary>
                <div class="govuk-details__text">
                  The assessor declared they have no personal or business connection with the property’s owner or anyone who may have an interest in the property.
                </div>
              </details>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">F-Gas compliant date</dt>
            <dd class="govuk-summary-list__value">Not provided</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Total effective rated output</dt>
            <dd class="govuk-summary-list__value">106 kW</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">System sampling</dt>
            <dd class="govuk-summary-list__value">Yes</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Treated floor area</dt>
            <dd class="govuk-summary-list__value">410 metres squared</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Sub systems metered</dt>
            <dd class="govuk-summary-list__value">No</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Total estimated refrigerant charge</dt>
            <dd class="govuk-summary-list__value">73kg</dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-grid-column-one-third"> <br> </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8 epc-blue-bottom">
        <h2 class="govuk-heading-l" id="inspection_report">Inspection report</h2>
        <p class="govuk-body govuk-!-margin-bottom-6">
          For the assessment’s recommendations, see <a href="#inspection_report">the inspection report.</a>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third"> <br> </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body epc-page-break epc-blue-bottom">
        <h2 class="govuk-heading-l" id="sub_systems">Sub systems inspected</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Sub system ID</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Refrigerant type</th>
              <th scope="col" class="govuk-table__header">Age of main components</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">VOL001/SYS001/CP001 Ground Floor Banking Hall, Interview Room and Cashiers Area</td>
              <td class="govuk-table__cell">Mitsubishi Electric PURY-P250LM-A1 VRF packaged system x 1 serve ceiling slot diffuser internal unit x 6</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2015</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">VOL001/SYS002/ CP002 Lower Ground Floor Waiting Area and Interview Room Areas</td>
              <td class="govuk-table__cell">Mitsubishi Electric PURY-P450LM-A1 VRF packaged system x 1 serve ceiling slot diffuser internal unit x 10</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2015</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">VOL001/SYS003/CP003 ATM Area</td>
              <td class="govuk-table__cell">Mitsubishi Electric</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2015</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-column-one-third"> <br> </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body epc-page-break epc-blue-bottom">
        <h2 class="govuk-heading-l" id="contacting_assessor">Contacting the assessor and accreditation scheme</h2>
        <p>This assessment was created by a qualified assessor.</p>
        <p>If you are unhappy about your property’s assessment, you can complain to the assessor directly.</p>
        <p>If you are still unhappy after contacting the assessor, you should contact the assessor’s accreditation scheme.</p>
        <p>Accreditation schemes are appointed by the government to ensure that assessors are qualified to carry out assessments.</p>
        <h3>Assessor contact details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor's name</dt>
            <dd class="govuk-summary-list__value">James Cox</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
            <dd class="govuk-summary-list__value">0707 164 6673</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
            <dd class="govuk-summary-list__value">james.cox@provider.com</dd>
          </div>
        </dl>
        <h3>Accreditation scheme contact details</h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme</dt>
            <dd class="govuk-summary-list__value">ECMK</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor's accreditation number</dt>
            <dd class="govuk-summary-list__value">ECMK001884</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Telephone</dt>
            <dd class="govuk-summary-list__value">0207 164 6673</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
            <dd class="govuk-summary-list__value">support@ecmk.com</dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-grid-column-one-third"> <br> </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body epc-blue-bottom">
        <a name="previous"></a>
        <h2 class="govuk-heading-l">Other certificates for this property</h2>

        <p class="govuk-body">If you are aware of previous assessments for this property and they are not listed here, please contact the Help Desk at 0207 164 6672.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference number</th>
            <th scope="col" class="govuk-table__header">Report type</th>
            <th scope="col" class="govuk-table__header">Expiry date</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/find-a-non-dom-certificate-result-1">9876-6789-5432-2345-1351</a></th>
            <td class="govuk-table__cell">EPC</td>
            <td class="govuk-table__cell">8 August 2030</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}
