{% extends "layout.html" %}

{% block pageTitle %}
Air Conditioning Inspection Certificate
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body">
        <h1 class="govuk-heading-xl printable-area">Air conditioning inspection certificate</h1>
      </div>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-display-none-print">
      <hr class="epc-blue-top" />
      <div class="component__contents govuk-!-display-none-print">
        <h2 class="govuk-heading-m">Certificate contents</h2>
        <div class="dashed-p">
          <p class="govuk-body"><a class="govuk-link" href="#assessment_details">Assessment details</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#inspection_report">Inspection report</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#sub_systems">Subsystems inspected</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#assessor_details">Assessor’s details</a></p>
          <p class="govuk-body"><a class="govuk-link" href="#other_certificates_and_reports">Other certificates for this property</a></p>
        </div>
      </div>
      <script type = "text/javascript" src="/javascript/share-certificate.js"></script>
      <div class="component__print govuk-!-display-none-print">
        <h2 class="govuk-heading-m">Share this certificate</h2>
        <ul id="share-list">
          <li>
            <p gov-body >
              <a id="email" style="text-decoration: none;"
                href="mailto:?subject= Air conditioning inspection certificate for McDonalds, 72-76 RYE LANE, LONDON&amp;body=Please find your air conditioning inspection certificate at https://find-energy-certificate.digital.communities.gov.uk/energy-certificate/2020-9178-0962-0008-4963"
                target="_blank"
                title="Email">
              <span class="share-icon">
              <img src="/images/email.svg">
              </span>
              Email
              </a>
            </p>
          </li>
          <li>
            <p id="copy-to-clipboard-margin">
              <button id="copyToClipboardButton" class="govuk-body" onclick="clickHandler()">
              <span class="share-icon">
              <img src="/images/copy-link.svg">
              </span>
              Copy link
              </button>
              <script>document.getElementById('copyToClipboardButton').style.display = 'inline';</script>
            </p>
          </li>
          <li>
            <p>
              <a style="text-decoration: none; display: none;" id="link" href="/energy-certificate/2020-9178-0962-0008-4963?print=true" class="govuk-link govuk-!-margin-bottom-5" id="link">
              <span class="share-icon">
              <img src="/images/print.svg">
              </span>
              Print
              </a>
              <script>document.getElementById('link').style.display = 'inline';</script>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <hr class="epc-blue-top" />
      <div class="govuk-body epc-blue-bottom printable-area">
        <div class="epc-box-summary govuk-!-margin-bottom-5">
          <div class="epc-box-element epb-box-element-full-height govuk-body">
            <span>66 Primrose Hill</span>
            <span>London</span>
            <span>NW3 2UU</span>
          </div>
          <div class="epc-box-element">
            <div class="govuk-body epc-extra-box">
              <label>Certificate number</label>
              <span class="govuk-!-font-weight-bold">9876-6789-5432-2345-1350</span>
            </div>
            <div class="govuk-body epc-extra-box">
              <label>Valid until</label>
              <span class="govuk-!-font-weight-bold">10 March 2026</span>
            </div>
          </div>
        </div>
      </div>
      <div id="assessment_details" class="govuk-body epc-blue-bottom printable-area">
        <h2 class="govuk-heading-l">Assessment details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Inspection date</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              10 March 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Inspection level</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              Level 4
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessment software</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              CLG, ACReport, v2.0
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s declaration</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              Not related to the owner/occupier or person who has technical control of the system or subcontractor.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">F-Gas compliant date</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              Not Provided
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Total effective rated output</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              139 kW
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">System sampling</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Treated floor area</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              423 square metres
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Subsystems metered</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Total estimated refrigerant charge</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              50 kg
            </dd>
          </div>
        </dl>
      </div>
      <div id="inspection_report" class="govuk-body epc-blue-bottom printable-area">
        <h2 class="govuk-heading-l">Inspection report</h2>
        <p class="govuk-body">For the assessor’s recommendations, <a href="#inspection_report">see the inspection report</a>.</p>
      </div>
      <div id="sub_systems" class="govuk-body epc-blue-bottom printable-area">
        <h2 class="govuk-heading-l">Subsystems inspected</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsystem ID</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Refrigerant type</th>
              <th scope="col" class="govuk-table__header">Age of main components</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-word;">VOL001/SYS001 Staff Office Split</td>
              <td class="govuk-table__cell">Staff Office Split</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2015</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-word;">VOL002/SYS001 Kitchen AHU</td>
              <td class="govuk-table__cell">Kitchen AHU</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2012</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-word;">VOL003/SYS001 Restaurant 1 AHU</td>
              <td class="govuk-table__cell">Restaurant 1 AHU</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2012</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-word;">VOL004/SYS001 Air Curtain</td>
              <td class="govuk-table__cell">Air Curtain Split</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2015</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="word-break: break-word;">VOL005/SYS001 Restaurant 2 AHU</td>
              <td class="govuk-table__cell">Restaurant 2 AHU</td>
              <td class="govuk-table__cell">R410A</td>
              <td class="govuk-table__cell">2012</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="assessor_details" class="govuk-body epc-blue-bottom printable-area">
        <h2 class="govuk-heading-l">Assessor’s details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor’s name</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              James Cox
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Email</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="mailto:james.cox@provider.com">james.cox@provider.com</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Assessor ID</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              ECMK001884
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Employer/Trading name</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              AC Assessments Ltd
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Employer/Trading address</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              Westminster Building, 16 Walsgrave Road, Bristol, BS1 4ED
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              ECMK
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme telephone</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              0207 164 6673
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Accreditation scheme email</dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="mailto:support@ecmk.com">support@ecmk.com</a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="epc-blue-bottom printable-area govuk-body" id="other_certificates_and_reports">
        <h2 class="govuk-heading-l">Other certificates for this property</h2>
        <p class="govuk-body">
          If you are aware of previous certificates for this property and they are not listed here, please contact us at <span style="white-space: nowrap;"><a href="mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - ">mhclg.digital-services@communities.gov.uk</a></span> or call our helpdesk on <span style="white-space: nowrap;">020 3829 0748.</span>
        </p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Certificate number
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="/aircon-certificate">9876-6789-5432-2345-1351</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Expired on
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              8 August 2019</dd>
          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Certificate number
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="/aircon-certificate">1351-2345-5432-2345-9876</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Expired on
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              18 May 2015</dd>
          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Certificate number
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <a class="govuk-link" href="/aircon-certificate">2345-5432-9876-2345-2345</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Expired on
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              1 June 2012</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</main>

{% endblock %}
