{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-8">
                <a href="/find-a-certificate" class="govuk-back-link">Back</a>
                <h1 class="govuk-heading-xl">
                    Buying or selling your home
                </h1>
            </div>

            <p class="govuk-body">Contents</p>

            <div class="dashed-p">
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home">Overview</a></p>
                <p class="govuk-body">Energy Performance Certificates</p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/estate-agents">Estate agents</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/offers">Offers</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/transferring-ownership-conveyancing">Transferring ownership (conveyancing)</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/tax">Tax</a></p>
            </div>

            <hr class="epc-light-top" />

            <h2 class="govuk-heading-l">Energy Performance Certificates</h2>
            <p class="govuk-body">Energy Performance Certificates (EPCs) are needed whenever a property is:</p>


            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>built</li>
                <li>sold</li>
                <li>rented</li>
            </ul>

            <p class="govuk-body">You must order an EPC for potential buyers and tenants before you market your property to sell or rent.</p>
            <p class="govuk-body">In Scotland, you must display the EPC somewhere in the property, eg in the meter cupboard or next to the boiler.</p>
            <p class="govuk-body">An EPC contains:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>information about a property’s energy use and typical energy costs</li>
                <li>recommendations about how to reduce energy use and save money</li>
            </ul>

            <p class="govuk-body">An EPC gives a property an energy efficiency rating from A (most efficient) to G (least efficient) and is valid for 10 years.</p>


            <div class="govuk-inset-text">Check how you could make your home more energy efficient using the Energy Savings Trust’s <a href="https://www.energysavingtrust.org.uk/resources/tools-calculators/home-energy-check">home energy check</a>.</div>

            <h3 class="govuk-heading-m">How to get an EPC</h3>

            <p class="govuk-body">You’ll need to find an accredited assessor if you’re selling or renting out your home in:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li><a href="/find-an-assessor">England, Wales and Northern Ireland</a></li>
                <li><a href="https://www.scottishepcregister.org.uk/assessorsearch">Scotland</a></li>
            </ul>

            <p class="govuk-body">They’ll assess your property and produce the certificate.</p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <div class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <h4 class="govuk-error-summary__title" id="error-summary-title">
                        You can be fined if you don’t get an EPC when you need one.
                    </h4>
                </div>
            </div>

            <p class="govuk-body">The person selling the house, the landlord or the letting agent must show you the EPC if you’re buying or renting.</p>

            <h3 class="govuk-heading-m">Buildings that don’t need an EPC</h3>

            <p class="govuk-body">These include:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>places of worship</li>
                <li>temporary buildings that will be used for less than 2 years</li>
                <li>stand-alone buildings with total useful floor space of less than 50 square metres</li>
                <li>industrial sites, workshops and non-residential agricultural buildings that don’t use a lot of energy</li>
                <li>some buildings that are due to be demolished</li>
                <li>holiday accommodation that’s rented out for less than 4 months a year or is let under a licence to occupy</li>
                <li>listed buildings - you should get advice from your local authority conservation officer if the work would alter the building’s character</li>
                <li>residential buildings intended to be used less than 4 months a year</li>
            </ul>

            <h3 class="govuk-heading-m">See other properties’ EPCs</h3>
            <p class="govuk-body">You can look at the EPCs of other properties free of charge. This lets you compare your home’s energy performance with that of similar homes. You can search by the <a href="/find-a-certificate-search-by-street-name-and-town">property’s address</a> or by the EPCs <a href="find-a-certificate-search-by-reference-number">report reference number</a>.</p>
            <p class="govuk-body">You can <a href="#">opt out of the EPC register</a> if you don’t want other people to be able to see your EPC.</p>
        </div>

        <div class="govuk-grid-column-one-third" style="margin-top: 392px;">
            <hr class="epc-blue-top" />
            <h2 class="govuk-heading-m">Related content</h2>
            <p class="govuk-body"><a href="#">Affordable home ownership schemes</a></p>
            <p class="govuk-body"><a href="#">Park (mobile) homes</a></p>
            <p class="govuk-body"><a href="#">Registering land or property with HM Land Registry</a></p>
        </div>
    </div>
</main>

{% endblock %}
