{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-8">
                <a href="/find-a-certificate" class="govuk-back-link">Back</a>
                <h1 class="govuk-heading-xl">
                    Buying or selling your home
                </h1>
            </div>

            <p class="govuk-body">Contents</p>

            <div class="dashed-p">
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home">Overview</a></p>
                <p class="govuk-body">Energy Performance Certificates</p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/estate-agents">Estate agents</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/offers">Offers</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/transferring-ownership-conveyancing">Transferring ownership (conveyancing)</a></p>
                <p class="govuk-body"><a href="https://www.gov.uk/buy-sell-your-home/tax">Tax</a></p>
            </div>

            <hr class="epc-light-top" />

            <h2 class="govuk-heading-l">Energy Performance Certificates (EPCs)</h2>
            <p class="govuk-body">EPCs are needed whenever a property is:</p>


            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>built</li>
                <li>sold</li>
                <li>rented</li>
            </ul>

            <p class="govuk-body">Property owners, landlords or letting agents must get an EPC for potential buyers and tenants before they market a property to sell or rent.</p>
            <p class="govuk-body">In Scotland, you must display the EPC somewhere in the property. For example, in the meter cupboard or next to the boiler.</p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <div class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <h4 class="govuk-error-summary__title" id="error-summary-title">
                        You can be fined if you do not get an EPC when you need one.
                    </h4>
                </div>
            </div>

            <h3 class="govuk-heading-m">What is an EPC?</h3>

            <p class="govuk-body">An EPC contains:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>information about a property’s energy use and typical energy costs</li>
                <li>recommendations about how to reduce energy use and save money</li>
            </ul>

            <p class="govuk-body">An EPC gives a property an energy performance rating from A (most efficient) to G (least efficient) and is valid for 10 years.</p>

            <h3 class="govuk-heading-m">Check if a property has an EPC</h3>

            <p class="govuk-body">To see existing EPCs for a property, you can:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li><a href="/find-a-certificate">Search for EPCs in England, Wales and Northern Ireland</a></li>
                <li><a href="https://www.scottishepcregister.org.uk">Search for EPCs in Scotland</a></li>
            </ul>

            <p class="govuk-body">You can <a href="#">opt out of the EPC register</a> if you do not want other people to be able to see your EPC.</p>

            <h3 class="govuk-heading-m">How to get a new EPC</h3>

            <p class="govuk-body">You will need to find a qualified assessor to assess your property to get a new EPC. To do this, you can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li><a href="/find-an-assessor">Find qualified assessors in England, Wales and Northern Ireland</a></li>
                <li><a href="https://www.scottishepcregister.org.uk/assessorsearch">Find qualified assessors in Scotland</a></li>
            </ul>

            <h3 class="govuk-heading-m">Letting the property</h3>

            <p class="govuk-body">Before a property is rented, it must have a valid EPC and energy rating.</p>
            <p class="govuk-body">Landlords of private rented property can read
              <a href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">
                guidance on the minimum energy efficiency standard.
              </a>
            </p>
            <p class="govuk-body">Tenants in England should read
              <a href="https://www.gov.uk/government/publications/how-to-rent/how-to-rent-the-checklist-for-renting-in-england">
                the checklist for renting.
              </a>
            </p>

            <h3 class="govuk-heading-m">Properties that do not need an EPC</h3>

            <p class="govuk-body">These include:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
                <li>places of worship</li>
                <li>temporary buildings that will be used for less than 2 years</li>
                <li>stand-alone buildings with total useful floor space of less than 50 square metres</li>
                <li>industrial sites, workshops and non-domestic agricultural buildings that don’t use a lot of energy</li>
                <li>some buildings that are due to be demolished</li>
                <li>holiday accommodation that’s rented out for less than 4 months a year or is let under a licence to occupy</li>
                <li>listed buildings - you should get advice from your local authority conservation officer if the work would alter the building’s character</li>
                <li>residential buildings intended to be used less than 4 months a year</li>
            </ul>
        </div>

        <div class="govuk-grid-column-one-third" style="margin-top: 376px;">
            <hr class="epc-blue-top" />
            <h2 class="govuk-heading-m">Related content</h2>
            <p class="govuk-body"><a href="#">Affordable home ownership schemes</a></p>
            <p class="govuk-body"><a href="#">Park (mobile) homes</a></p>
            <p class="govuk-body"><a href="#">Registering land or property with HM Land Registry</a></p>
        </div>
    </div>
</main>

{% endblock %}
