{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/find-a-non-dom-certificate" class="govuk-back-link">
            Back
        </a>

        <h1 class="govuk-heading-xl">
            Find energy certificates and reports by postcode
        </h1>

        <form method="GET" id="form" action="/find-a-non-dom-certificate-results" name="postcodeform">
            <fieldset class="govuk-fieldset fieldset-background">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode">
                        Enter a postcode
                    </label>
                    <span id="postcode-hint" class="govuk-hint">
            For example SW1A 2AA
          </span>
                    <input id="postcode" name="postcode" type="text" class="govuk-input" aria-describedby="postcode-hint" autocomplete="postal-code" spellcheck="false">
                </div>
                <div>
                    <p class="govuk-body">
                        If you don’t know the property’s postcode, <a href="/find-a-non-dom-certificate-by-street-name-and-town">find energy certificates and reports using the street name and town</a>.
                    </p>
                    <p class="govuk-body">
                        Use <a href="/find-a-non-dom-certificate-by-reference-number">find energy certificates and reports by reference number</a> if you know your certificate or report number and want to validate it.
                    </p>
                </div>
                <br>
                <input class="govuk-button" data-module="govuk-button" type="submit" value="Find" class="button">
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}