{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<script>
  function myFunction() {
    if (document.getElementById("epc").checked == true) {
      document.postcodeform.action = "/find-a-non-dom-certificate-results-epc";
    } else if (document.getElementById("dec").checked == true) {
      document.postcodeform.action = "/find-a-non-dom-certificate-results-dec";
    } else if (document.getElementById("ac").checked == true) {
      document.postcodeform.action = "/find-a-non-dom-certificate-results-ac";
    } else {
      document.postcodeform.action = "/find-a-non-dom-certificate-results";
    }
  }
</script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/find-a-non-dom-certificate" class="govuk-back-link">
            Back
        </a>

        <h1 class="govuk-heading-xl">
            Find assessment reports by postcode
        </h1>

        <form method="GET" id="form" onSubmit="myFunction()" name="postcodeform">
            <fieldset class="govuk-fieldset fieldset-background">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode">
                        Enter a postcode
                    </label>
                    <span id="postcode-hint" class="govuk-hint">
            For example SW1A 2AA
          </span>
                    <input id="postcode" name="postcode" type="text" class="govuk-input" aria-describedby="postcode-hint" autocomplete="postal-code" spellcheck="false">
                </div>
                <div>
                    <label class="govuk-label" for="postcode">
                        Select an assessment type:
                    </label>
                    <br>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="epc" type="radio" value="epc">
                            <label class="govuk-label govuk-radios__label" for="epc">
                                Non Domestic EPC/Recommendation Report
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dec" type="radio" value="dec">
                            <label class="govuk-label govuk-radios__label" for="dec">
                                Display Energy Certificate/Advisory Report
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ac" type="radio" value="ac">
                            <label class="govuk-label govuk-radios__label" for="ac">
                                Air Conditioning Inspection Certificate/Inspection Report
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="govuk-body">
                        If you don’t know the building’s postcode, <a href="/find-a-non-dom-certificate-by-street-name-and-town">find assessment reports using the street name and town</a>.
                    </p>
                    <p class="govuk-body">
                        Use <a href="/find-a-non-dom-certificate-by-reference-number">find assessment reports by reference number</a> if you know your certificate number and want to validate it.
                    </p>
                </div>
                <br>
                <input class="govuk-button" data-module="govuk-button" type="submit" value="Find" class="button">
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}