{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<!--<script>-->
<!--  function myFunction() {-->
<!--    document.getElementById("demo").innerHTML = "Paragraph changed.";-->
<!--  }-->
<!--</script>-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/find-a-non-dom-certificate" class="govuk-back-link">
            Back
        </a>

        <h1 class="govuk-heading-xl">
            Find assessment reports by postcode
        </h1>

        <form method="GET" action="/find-a-non-dom-certificate-results">
            <fieldset class="govuk-fieldset fieldset-background">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode">
                        Enter a postcode
                    </label>
                    <span id="postcode-hint" class="govuk-hint">
            For example SW1A 2AA
          </span>
                    <input id="postcode" name="postcode" type="text" class="govuk-input" aria-describedby="postcode-hint" autocomplete="postal-code" spellcheck="false">
                </div>
                <div>
                    <label class="govuk-label" for="postcode">
                        Select an assessment type:
                    </label>
                    <br>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                                Non Domestic EPC/Recommendation Report
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                Display Energy Certificate/Advisory Report
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                Air Conditioning Inspection Certificate/Inspection Report
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="govuk-body">
                        If you don’t know the building’s postcode, <a href="/find-a-non-dom-certificate-by-street-name-and-town">find assessment reports using the street name and town</a>.
                    </p>
                    <p class="govuk-body">
                        Use <a href="/find-a-non-dom-certificate-by-reference-number">find assessment reports by reference number</a> if you know your certificate number and want to validate it.
                    </p>
                </div>
                <br>

                <button class="govuk-button" data-module="govuk-button">Find</button>
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}