{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Find an energy assessment for a non-domestic building
        </h1>
        <p class="govuk-body">
            Use this service to find energy assessments for non-domestic buildings in England, Wales and Northern Ireland.
        </p>
        <p class="govuk-body">
            Non-domestic buildings are commercial and public buildings.
        </p>

        <p class="govuk-body">
            For non-domestic buildings, you can view their:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                energy performance certificate (EPC) and recommendations report (EPC-RR)
            </li>
            <li>
                display energy certificate (DEC) and recommendation report (DEC-RR)
            </li>
            <li>
                air conditioning inspection report (AC-REPORT) and certificate (AC-CERT)
            </li>
        </ul>

        <div class="govuk-inset-text">
            This service is also available in <a href="#">Welsh (Cymraeg)</a>.
        </div>

        <a href="/find-a-non-dom-certificate-search" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        <h2 class="govuk-heading-m">
            Before you start
        </h2>

        <p class="govuk-body">
            If you need additional support to find an assessment certificate or report, call our helpdesk on 0233 788 1234 (Monday to Friday, 9am - 5pm).
        </p>

        <p class="govuk-body epc-blue-bottom">
            If the building is in Scotland, you should use the <a href="https://www.gov.scot/publications/energy-performance-certificates-introduction/">Scottish government's EPC service</a>.
        </p>

        <p class="govuk-body">
            To check if your building needs a certificate or report, read:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/energy-performance-certificate-commercial-property/exemptions">the EPC exemptions for business properties</a></li>
            <li><a href="https://www.gov.uk/check-energy-performance-public-building">which buildings need a DEC</a></li>
            <li><a href="https://www.gov.uk/get-your-air-conditioning-system-inspected">when air conditioning system inspections are required</a></li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="/find-an-assessor">
                            Getting a new EPC
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="/find-a-certificate">
                            Find a domestic EPC
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

{% endblock %}
