{% extends "layout.html" %}

{% block pageTitle %}
Find a certificate | Energy performance of buildings
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/find-a-certificate-search" class="govuk-back-link">
            Back
        </a>

        <h1 class="govuk-heading-xl">
            Find assessments by street and town
        </h1>

        <form method="GET" action="/find-a-non-dom-certificate-by-street-name-and-town-results">
            <fieldset class="govuk-fieldset fieldset-background">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="street_name">
                        Enter a building number and street
                    </label>
                    <span id="street-name-hint" class="govuk-hint">
            For example 14 Primrose Street
          </span>
                    <input id="street_name" name="street_name" type="text" class="govuk-input" aria-describedby="street-name-hint" spellcheck="false">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="town">
                        Enter a town
                    </label>
                    <span id="town-hint" class="govuk-hint">
            For example Bournemouth
          </span>
                    <input id="town" name="town" type="text" class="govuk-input" aria-describedby="town-hint" spellcheck="false">
                </div>

                <button class="govuk-button" data-module="govuk-button">Find</button>
            </fieldset>

        </form>
    </div>
</div>

{% endblock %}