{% extends "layout.html" %}

{% block pageTitle %}
  Find an assessor | Energy performance of buildings
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find an energy assessor
        <span class="govuk-caption-xl">For your domestic property</span>
      </h1>
      <p>
        Energy assessors measure the energy efficiency of your property and are qualified to issue you with an Energy
        Performance Certificate. You are required to have a recent Energy Performance Certificate before you market your
        property for sale or letting.
      </p>

      <h2 class="govuk-heading-m">Who can use this service?</h2>

      <ul class="govuk-list">
        <li>You are a UK home owner or you are representing one</li>
        <li>You are selling or letting your house and need an Energy Performance Certificate</li>
        <li>If your property is in Scotland, you need to use <a href="https://www.gov.scot/publications/energy-performance-certificates-introduction/">a different service</a></li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is involved in an assessment
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class='govuk-list'>
            <li>Access to the property must be provided to the assessor.</li>
            <li>An assessment takes 30 minutes, depending on the size of your property.</li>
            <li>It should not harm the property.</li>
          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When you don't need an energy certificate
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list">
            <li>You are not selling or renting your property.</li>
            <li>You are selling your property, but the buyer intends to demolish it.</li>
            <li>The building is of less than 50m<sup>2</sup> and not a dwelling.</li>
            <li>The building is temporary with a planned time of use fewer than 2 years.</li>
          </ul>
        </div>
      </details>

      <div class="app-prose-scope">
        <h2 class="govuk-heading-m">What you need to complete this service</h2>
        <ul class="govuk-list govuk-!-margin-bottom-9 govuk-list--bullet">
          <li>The address of the property</li>
          <li>A phone to contact assessors</li>
        </ul>

        <a href="/address" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>

        <h2 class="govuk-heading-m">Other services</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/schemes">Energy assessments for commercial properties use a different service</a></li>
          <li>This service is also available by calling <a href="tel:07921021368">0792 102 1368</a></li>
        </ul>
      </div>
    </div>
</div>

{% endblock %}
