{% extends "layouts/main.html" %}

{% block pageTitle %}
  Find an assessor | Energy performance of buildings
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Services related to Energy Performance Certificate (EPC)
    </h1>
    <p class="govuk-body">
      Use this service to find assessors and certificates
    </p>

    <p class="govuk-body">
      Find a qualified assessor through the <a href="/find-an-assessor">Find an assessor</a> service
    </p>

    <p class="govuk-body">
      Find an existing certificate for a property through the <a href="/find-a-certificate">Find a certificate</a> service
    </p>

    <p class="govuk-body">
      Find a non-domestic certificate for a building through the <a href="/find-a-non-dom-certificate">Find a non-domestic certificate</a> service
    </p>

    <p class="govuk-body">
      This page is intended for Private Beta use, and will not be a part of the public service
    </p>
  </div>
</div>

{% endblock %}
