{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Reach out to a scheme</h1>

    <p>A scheme is a private company accrediting assessors in issuing EPC and other certifications.</p>

    <div class="app-prose-scope">
        <h2 class="govuk-heading-m">When to reach out to a scheme</h2>

        <ol class="govuk-list">
            <li>You can't find an assessor</li>
            <li>There was a problem with your assessor</li>
            <li>You need to help someone without internet with their assessment</li>
        </ol>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Consectetur adipiscing</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/styles/" class="govuk-link govuk-!-font-weight-bold">Go to website</a></p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Nulla fringilla</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/" class="govuk-link govuk-!-font-weight-bold">Go to website</a></p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Cursus non lacus</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/" class="govuk-link govuk-!-font-weight-bold">To to website</a></p>
    </div>

    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Aliquam et</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://www.google.com" class="govuk-link govuk-!-font-weight-bold">Go to website</a></p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Vestibulum nibh</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://www.google.com" class="govuk-link govuk-!-font-weight-bold">Go to website</a></p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Aenean vulputate</h2>
        <p class="govuk-body">020 123 456</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://www.google.com" class="govuk-link govuk-!-font-weight-bold">Go to website</a></p>
    </div>

    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
</div>

{% endblock %}