<h1 class="govuk-heading-xl">User research sessions EPC metrics - progress bar approach</h1>

<h2 class="govuk-heading-m"><a href="/EPC-metrics/find-a-certificate-result-property-1-v1">find-a-certificate-result-property-1-v1</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>B rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
</ul>
<h2 class="govuk-heading-m"><a href="/EPC-metrics/find-a-certificate-result-property-1-v2">find-a-certificate-result-property-1-v2</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>B rated property</li>
    <li>Energy rating with bars not chart (blue)</li>
    <li>Carbon emissions with bars (blue)</li>
    <li>Steps with bars (blue)</li>
</ul>
<h2 class="govuk-heading-m"><a href="/EPC-metrics/find-a-certificate-result-property-2-v1">find-a-certificate-result-property-2-v1</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>E rated property</li>
    <li>Energy rating with bars not chart (multi-colour)</li>
    <li>Carbon emissions with bars (multi-colour)</li>
    <li>Steps with bars (multi-colour)</li>
</ul>
<h2 class="govuk-heading-m"><a href="/EPC-metrics/find-a-certificate-result-property-2-v2">find-a-certificate-result-property-2-v2</a></h2>
<p>Deviations from live:</p>
<ul>
    <li>E rated property</li>
    <li>Energy rating with bars not chart (blue)</li>
    <li>Carbon emissions with bars (blue)</li>
    <li>Steps with bars (blue)</li>
</ul>


