{% set serviceName %}
Get energy certificate data
{% endset%}

{% set backLink = "/get-energy-certificate-data/type-of-properties" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Domestic properties - Get energy certificate data - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-full-from-desktop">
            <div class="govuk-grid-row">
                <h1 class="govuk-heading-xl">
                    Energy Performance Certificates
                </h1>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-9">
                <h2 class="govuk-heading-l">
                    Download all data
                </h2>
                <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                    <p class="govuk-body">
                        You will get data for:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Energy Performance Certificates and recommendations</li>
                        <li>England and Wales</li>
                        <li>October 2008 - February 2025</li>
                    </ul>
                </div>
                <p class="govuk-body">
                    A download link will be sent to your email address. The estimated download size is 5.7 GB.
                </p>
                <a
                        href="/get-energy-certificate-data/download-all-confirmation"
                        role="button"
                        draggable="false"
                        class="govuk-button"
                        data-module="govuk-button" >
                    Download all
                </a>
            </div>
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">
                    Filter certificates (optional)
                </h2>
                <p class="govuk-body">
                    Use the filters to select the data you need.
                </p>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Filter by date
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="from-month">
                                    View results from
                                </label>
                                <select class="govuk-select" id="from-month" name="from-month">
                                    <option value="january" selected>January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                </select>
                                <label for="from-year">
                                </label>
                                <select class="govuk-select" id="from-year" name="from-year">
                                    <option value="2021">2021</option>
                                    <option value="2022" >2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024" selected>2024</option>
                                </select>

                                <label class="govuk-label govuk-!-padding-top-2" for="to-month">
                                    to
                                </label>
                                <select class="govuk-select" id="to-month" name="to-month">
                                    <option value="january">January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may" selected>May</option>
                                </select>
                                <label for="to-year">
                                </label>
                                <select class="govuk-select" id="to-year" name="to-year">
                                    <option value="2021">2021</option>
                                    <option value="2022" >2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024" selected>2024</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h3 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" inline="this.onSelectToggle(e);">
                                  Filter by area
                                </span>
                            </h3>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend">
                                        Select area type
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="area" name="contact" type="radio" value="email" checked data-aria-controls="conditional-contact">
                                            <label class="govuk-label govuk-radios__label" for="area">
                                                Local authority
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional" id="conditional-contact">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="local-authority">
                                                    Select local authority
                                                </label>
                                                <p>(Type to search)</p>
                                                <select class="govuk-select" id="local-authority" name="local-authority">
                                                    <option value="hammersmith-and-fulham">Hammersmith and Fulham</option>
                                                    <option value="manchester-city-council" selected>Manchester City Council</option>
                                                    <option value="tower-hamlets">Tower Hamlets</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="parliamentary-constituency-radio" name="contact" type="radio" value="phone" data-aria-controls="conditional-parliamentary-constituency">
                                            <label class="govuk-label govuk-radios__label" for="parliamentary-constituency">
                                                Parliamentary constituency
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-parliamentary-constituency">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label" for="parliamentary-constituency">
                                                    Select parliamentary constituency
                                                </label>
                                                <p>(Type to search)</p>
                                                <select class="govuk-select" id="parliamentary-constituency" name="parliamentary-constituency">
                                                    <option value="bristol-central">Bristol Central</option>
                                                    <option value="cities-of-london-and-westminster">Cities of London and Westminster</option>
                                                    <option value="manchester-central" selected>Manchester Central</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="postcode-radio" name="contact" type="radio" value="text" data-aria-controls="conditional-postcode">
                                            <label class="govuk-label govuk-radios__label" for="postcode-radio">
                                                Postcode
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-postcode">
                                            <div class="govuk-form-group">
                                                <input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="tel" autocomplete="tel">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      About boundary changes
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p>Properties are categorised under the most recent boundaries for local authorities or parliamentary constituencies.</p>

                                    <p>Changes to boundaries mean some energy certificates may have been categorised under a different local authority or parliamentary constituency in the past.</p>
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Filter by energy efficiency rating
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                                            <label class="govuk-label govuk-checkboxes__label " for="organisation">
                                                A rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                B rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                C rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                D rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="DfT" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                E rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="DfT" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                F rating
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox" value="DfT" checked>
                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                G rating
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      What does this mean?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p>Energy efficiency rating (EER) is a metric based on how much it costs to heat and light a home to an agreed standard. It is calculated as a numerical score that typically ranges between 1 (high cost) and 100 (low cost).</p>

                                    <p>The numerical score can be presented as a letter range between A and G as shown below:</p>

                                    <ul class="govuk-list">
                                        <li>A rating – 92 plus</li>
                                        <li>B rating – 81 to 91</li>
                                        <li>C rating – 69 to 80</li>
                                        <li>D rating – 55 to 68</li>
                                        <li>E rating – 39 to 54</li>
                                        <li>F rating – 21 to 38</li>
                                        <li>G rating – 1 to 20</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                  Filter recommendations
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="recommendations" name="recommendations" type="checkbox" value="recommendations">
                                    <label class="govuk-label govuk-checkboxes__label" for="recommendations">
                                        Include certificate recommendations
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="govuk-body">A download link will be sent to your email address. </p>
                <a
                    href="/get-energy-certificate-data/download-selected-confirmation"
                    role="button"
                    draggable="false"
                    class="govuk-button"
                    data-module="govuk-button" >
                    Download selected
                </a>
            </div>
            {% include "get-energy-certificate-data/components/get-help.html" %}
        </div>
    </div>
</div>

{% endblock %}