{% set serviceName %}
Get energy certificate data
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Get energy certificate data - GOV.UK
{% endblock %}


{{ backLink }}
{% set backLink = "/get-energy-certificate-data" %}
{{ backLink }}

{% block content %}

<main class="govuk-main-wrapper govuk-!-padding-top-0" id="main-content" role="main">
<div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">

                <h1 class="govuk-heading-xl  ">
                   Guidance
                </h1>

                    <p class="govuk-body-l">
                    You can use these resources to help you understand and use energy certificate data.
                    </p>


                <h2 class="govuk-heading-m govuk-!-padding-top-4">
                    Understanding the data
                </h2>

                <p class="govuk-body"> Information on how the data is formatted and produced.</p>

                <ul class="govuk-list">
                    <li>  <a href="">What information the data contains</a></li>
                    <li>  <a href="">How the data is produced and released</a></li>
                    <li>  <a href="">Changes to the format and methodology</a></li>
                    <li>  <a href="">Data limitations and quality</a></li>
                </ul>




                <h2 class="govuk-heading-m govuk-!-padding-top-4">
                    Publishing and usage restrictions
                </h2>
                <p class="govuk-body">
                    Information on the restrictions that affect how the data is published and how you can use it.
                </p>

                <ul class="govuk-list">
                    <li>  <a href="">Licensing restrictions</a></li>
                    <li>  <a href="">Data protection</a></li>
                </ul>


                <h2 class="govuk-heading-m govuk-!-padding-top-4">
                    Developer APIs
                </h2>
                <p class="govuk-body">
                    Information on using a developer API.
                </p>

                <ul class="govuk-list">
                    <li>  <a href="">API guidance</a></li>
                    <li>  <a href="">API technical documentation</a></li>
                </ul>




                <h2 class="govuk-heading-m govuk-!-padding-top-8">
                    Get help
                </h2>


                <p class="govuk-body">
                    For enquiries about the data, please contact the Ministry of Housing, Communities and Local Government (MHCLG)
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - ">mhclg.digital-services@communities.gov.uk</a>
                </p >
        </div>
    </div>
</div>
</main>
{% endblock %}