{% set serviceName %}
Get energy certificate data
{% endset%}

{% set backLink = "/get-energy-certificate-data/domestic-properties" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Public properties - Get energy certificate data - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <div class="govuk-grid-row">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h2 class="govuk-panel__title govuk-!-padding-6">
                        Request received
                    </h2>
                </div>
                <h2 class="govuk-heading-m govuk-!-padding-top-2">What happens next</h2>
                <p class="govuk-body">
                    An email with a download link will be sent to: <strong>placeholder@email.com</strong>.
                </p>
                <p class="govuk-body">
                    This may take up to 30 minutes to be delivered to your inbox. If you cannot see the email in your inbox, check your junk or spam folder.
                </p>
                <p class="govuk-body">
                    Your request contains 37,000 results. The estimated download size is 1.8 GB.
                </p>
            </div>
            {% include "get-energy-certificate-data/components/get-help.html" %}
        </div>
    </div>
</div>

{% endblock %}