{% set serviceName %}
Get energy certificate data
{% endset%}

{% set backLink = "/get-energy-certificate-data" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Public properties - Get energy certificate data - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <div class="govuk-grid-row">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h2 class="govuk-panel__title govuk-!-padding-6">
                        Request received
                    </h2>
                </div>
                <h2 class="govuk-heading-m govuk-!-padding-top-2">What happens next</h2>
                <p class="govuk-body">
                    An email with a download link will be sent to: <strong>placeholder@email.com</strong>.
                </p>
                <p class="govuk-body">
                    This may take up to 30 minutes to be delivered to your inbox. If you cannot see the email in your inbox, check your junk or spam folder.
                </p>
                <p class="govuk-body">
                    Your request contains 37,000 results. The estimated download size is 1.8 GB.
                </p>
            </div>
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-m govuk-!-padding-top-2">
                    Get help
                </h2>

                <p class="govuk-body">
                    <a href="">Visit the guidance page</a> for information on:
                </p>

                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
                    <li>what the data contains</li>
                    <li>data methodology and limitations</li>
                    <li>using the developer API</li>
                    <li>licensing restrictions</li>
                </ul>

                <p class="govuk-body">
                    For enquiries about the data, please contact the Ministry of Housing, Communities and Local Government (MHCLG)
                </p>

                <ul class="govuk-list">
                    <li><a class="govuk-link" href="mailto:svc-mhclg.digital-services@communities.gov.uk?subject=EPB - ">svc-mhclg.digital-services@communities.gov.uk</a></li>
                    <li>Telephone: 020 3829 0748</li>
                    <li>Monday to Friday, 9am - 5pm</li>
                    <li><a href="https://www.gov.uk/call-charges">Find out about call charges</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock %}