{% set serviceName %}
Get energy certificate data
{% endset%}

{% set backLink = "/get-energy-certificate-data/way-to-access-data" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of properties do you want data on? - Get energy certificate data - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
                            What type of certificates do you want data on?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="domestic" name="type-of-properties" type="radio" value="govuk-domestic" aria-describedby="domestic-item-hint">
                            <label class="govuk-label govuk-radios__label" for="domestic">
                                Energy Performance Certificates (EPCs)
                            </label>
                            <div id="domestic-item-hint" class="govuk-hint govuk-radios__hint">
                                For domestic properties such as houses or flats
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="non-domestic" name="type-of-properties" type="radio" value="govuk-non-domestic" aria-describedby="non-domestic-hint">
                            <label class="govuk-label govuk-radios__label" for="non-domestic">
                                Commercial Energy Performance Certificates (CEPCs)
                            </label>
                            <div id="non-domestic-hint" class="govuk-hint govuk-radios__hint">
                                For non-domestic properties such as commercial or industrial buildings
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="public-properties" name="type-of-properties" type="radio" value="govuk-public-properties" aria-describedby="public-properties-hint">
                            <label class="govuk-label govuk-radios__label" for="public-properties">
                                Display Energy Certificates (DECs)
                            </label>
                            <div id="public-properties-hint" class="govuk-hint govuk-radios__hint">
                                For public buildings such as schools or hospitals
                            </div>
                        </div>
                    </div>
                    <details class="govuk-details govuk-!-margin-top-6 govuk-!-margin-left-3">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              What buildings have a Display Energy Certificate?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Buildings that are occupied by a public authority, are frequently visited by the public and have a floor area above 250m² must have a Display Energy Certificate (DEC).
                        </div>
                        <div class="govuk-details__text">
                            Buildings with a Display Energy Certificate (DEC) may also have a Commercial Energy Performance Certificate (CEPC).
                        </div>
                    </details>
                </fieldset>
            </div>
            <a
                    href="/get-energy-certificate-data/domestic-properties"
                    role="button"
                    draggable="false"
                    class="govuk-button"
                    data-module="govuk-button" >
                Continue
            </a>
        </div>
    </div>
</div>

{% endblock %}