{% from "get-energy-certificate-data/components/copy-button.html" import epbCopyButton %}
{% extends "get-energy-certificate-data/layouts/main.html" %}

{% block pageTitle %}
  Energy certificate data APIs - GOV.UK
{% endblock %}

{{ backLink }}
{% set backLink = "/get-energy-certificate-data/way-to-access-data" %}
{{ backLink }}

{% block content %}
  <h1 class='govuk-heading-xl'>Energy certificate data APIs</h1>
  <div class='epb-reading-width'>
    <p>
      Learn about the APIs we offer for software developers and how you can connect to them.
    </p>

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>Data available</h2>
    <p>Use the APIs to get data on:</p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>Domestic Energy Performance Certificates (EPCs)</li>
      <li>
        Non-domestic Energy Performance Certificates (EPCs) and recommendation reports
      </li>
      <li>
        Display Energy Certificates (DECs) and recommendation reports for public buildings
      </li>
    </ul>

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>
      Technical documentation
    </h2>
    <p>
      View
      <a href='/get-energy-certificate-data/guidance'>
        technical documentation
      </a>
      for the APIs.
    </p>

    {% if data.signedIn %}
      {% if data.bearerTokens | length == 1 %}
        <h2 class='govuk-heading-m govuk-!-padding-top-4'>My Bearer token</h2>
        <div class='govuk-body epb-d-flex epb-gap-3 govuk-!-margin-bottom-5'>
          <code id='bearer-token' class='epb-break-anywhere epb-max-w-20'>
            {{ data.bearerTokens[0].value }}
          </code>
          {{ epbCopyButton("bearer-token", "bearer token") }}
        </div>
      {% else %}
        <h2 class='govuk-heading-m govuk-!-padding-top-4'>My Bearer tokens</h2>
        <dl class='govuk-summary-list govuk-summary-list--epb'>
          {% for token in data.bearerTokens %}
            {% set bearerDomId = "bearer_token_" ~ loop.index %}
            {% set bearerHidden = "Bearer token starting " ~ token.value | bearerStarting ~ " created " ~ token.createdAt | formatDate(
                "long"
              )
            %}
            {{ bearerId | dump }}
            <div class='govuk-summary-list__row'>
              <dt id='{{ bearerDomId }}_label' class='govuk-summary-list__key'>
                {{ token.createdAt | formatDate("medium") }}
              </dt>
              <dd class='govuk-summary-list__value'>
                <code id='{{ bearerDomId }}' class='epb-break-anywhere'>
                  {{ token.value }}
                </code>
              </dd>
              <dd class='govuk-summary-list__actions epb-whitespace-nowrap'>
                {{ epbCopyButton(bearerDomId, bearerHidden) }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      {% endif %}

      <p>
        Manage your bearer tokens from
        <a href='/get-energy-certificate-data/authenticated/my-account'>
          my account
        </a>.
      </p>
    {% else %}
      <h2 class='govuk-heading-m govuk-!-padding-top-4'>How to get started</h2>

      <p>
        You need to sign in or create an account with GOV.UK One Login to receive a bearer token.
      </p>

      {{ govukButton({
        text: "Sign in or create an account",
        href: "/get-energy-certificate-data/one-login?referer=/get-energy-certificate-data/use-api"
      }) }}
    {% endif %}

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>
      Open API specification
    </h2>

    <p>
      Our APIs use
      <a href='https://swagger.io/specification/'>OpenAPI Specification</a>
      (OAS) - previously known as 'Swagger' - to describe the API's interface.
    </p>
    <p>
      The OAS file for each API contains general documentation as well as specific details of endpoints, including request and response headers and bodies. We use the OAS file to generate the API specifications in our API catalogue. You can also download the OAS file for an API - go to the API specification and look for the "Get this specification in OAS format" button.
    </p>
    <p>
      You can use a tool such as
      <a href='https://swagger.io/tools/swagger-codegen/'>Swagger Codegen</a>
      to generate stubs, test harnesses and SDKs in your favourite programming language. Our OAS files use OAS version 3.
    </p>

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>Conditions of use</h2>

    <p>
      Find out more about
      <a href='/guidance/licensing-restrictions'>Licensing restrictions</a>
      and
      <a href='/guidance/data-protection-requirements'>Data protection</a>.
    </p>

    <h2 class='govuk-heading-m govuk-!-padding-top-4'>
      Get help or give feedback
    </h2>

    <p><a href='/guidance'>Visit the guidance page</a> for information on:</p>

    <ul class='govuk-list govuk-list--bullet govuk-!-margin-left-5'>
      <li>what the data contains</li>
      <li>data methodology and limitations</li>
      <li>using the developer API</li>
      <li>licensing restrictions</li>
    </ul>

    <p>
      For enquiries about the data, please contact the Ministry of Housing, Communities and Local Government (MHCLG)
    </p>

    <p>
      <a href='mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - '>
        mhclg.digital-services@communities.gov.uk
      </a>
    </p>

    <p>
      If you would like to give feedback to help us improve this service, please use our
      <a
        href='https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqHoHbhsFaRhKtJNsRmvj1SVUQ0JSSTAxMVBKQVZCODgyOUYzSTU5VUJRRS4u'
      >
        feedback form
      </a>.
    </p>
  </div>
{% endblock %}
