{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% include "includes/cookie-banner.html" %}

{% block govukHeader %}
  {{ govukHeader({
    homepageUrl: "/"
  }) }}
{% endblock %}

{% block headerEnd %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    text: "This is not a live service. This is a service currently being designed."
  }) }}
{% endblock %}

{% block containerStart %}
  {% if backLink %}
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block govukFooter %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://prototype-kit.service.gov.uk/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}
