<h1 class="govuk-heading-xl">User research sessions data page</h1>

<h2 class="govuk-heading-m"><a href="/data-page/data-page-v1">data-page-v1</a></h2>
<ul>
    <li>Domestic and non-domestic stacked on top of each other</li>
    <li>filters use accordion with a section for each filter</li>
</ul>
<h2 class="govuk-heading-m"><a href="/data-page/data-page-v2">data-page-v2</a></h2>
<ul>
    <li>Use of tabs to separate domestic and non-domestic</li>
    <li>All filters in one accordion section</li>
</ul>

