{% set serviceName %}
Find an energy certificate
{% endset%}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Energy performance certificate (EPC) - Find an energy certificate - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl printable-area">
                Explore data on energy certificates
            </h1>
            <p class="govuk-body">Use this service to find data on the:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>number of certificates uploaded to the Energy Performance of Buildings Register</li>
                <li>energy rating of certificates</li>
            </ul>
            <div class="allow-break ">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">How to use this data</span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            All certificates uploaded to the Energy Performance of Buildings Register are shown. Some certificates that are shown may have expired or been replaced.
                            <br /><br />
                            Energy certificates produced in different years are not directly comparable due to changes in methodology.
                            <br /><br />
                            Not all buildings in the UK have an energy certificate.
                            <br /><br />
                            Energy certificates are not a direct indicator of housing supply or the state of the housing or rental market.
                            <br /><br />
                            This data is not classed as official statistics. <a class="govuk-link" href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/">Find out what this means</a>.
                        </p>
                    </div>
                </details>
            </div>
            <p class="govuk-body">This data is updated monthly and covers:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>England</li>
                <li>Wales</li>
                <li>Northern Ireland</li>
            </ul>
            <p class="govuk-body">
                For data in Scotland, <a class="govuk-link" href="https://www.scottishepcregister.org.uk/CustomerFacingPortal/DataExtract">visit the Scottish Energy Performance Certificate Register</a>.
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <hr />
    </div>
    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Domestic buildings
        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        For example houses or flats.
                    </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Non-domestic buildings
        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        For example commercial, industrial or public buildings.
                    </div>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h3 class="govuk-heading-m">Other data on energy certificates</h3>
            <p class="govuk-body">For more detailed energy certificate data on specific buildings,
                check the data published on <a class="govuk-link" href="https://epc.opendatacommunities.org/domestic/search">Open Data Communities</a>. This data is updated monthly.
            </p>
            <p class="govuk-body">
                For enquiries about energy certificate data, please contact the Ministry of Housing, Communities and Local Government (MHCLG).
            </p>
            <div class="govuk-inset-text">
                <ul class="govuk-list">
                    <li><a class="govuk-link" href="#">dluhc.digital-services@levellingup.gov.uk</a></li>
                    <li>Telephone: 020 3829 0748</li>
                    <li>Monday to Friday, 9am to 5pm</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}